### Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [49]:
import selenium
import pandas as pd
import numpy as np
from selenium import webdriver
from bs4 import BeautifulSoup
import requests

In [2]:
driver = webdriver.Chrome("chromedriver.exe")

In [3]:
driver.maximize_window()

In [4]:
url = 'https://www.naukri.com/' 
driver.get(url)

In [5]:
jobsearch = driver.find_element_by_id('qsb-keyword-sugg')
jobsearch

In [6]:
jobsearch.send_keys("Data Analyst")

In [7]:
location = driver.find_element_by_id('qsb-location-sugg')
location.send_keys("Bangalore")

In [8]:
search = driver.find_element_by_class_name('btn')
search.click()

In [9]:
job_title = []
company = []
locations = []
xp = []

In [10]:
title_tag = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
company_tag = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
location_tag = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span")
xp_tag = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span")

In [11]:
for i in title_tag:
    job_title.append(i.text)
for c in company_tag:
    company.append(c.text)
company
for l in location_tag:
    locations.append(l.text)
for x in xp_tag:
    xp.append(x.text)

#### Storing in JobDF Dataframe

In [12]:
JobDF = pd.DataFrame({"Job Title":job_title[0:10],"Company":company[0:10],"Experience":xp[0:10],"Location":locations[0:10]})
JobDF.reset_index(drop=True,inplace = True)
JobDF.index+= 1

In [13]:
JobDF

,Job Title,Company,Experience,Location
1,Business Data Analyst,RANDSTAD INDIA PVT LTD,8-12 Yrs,Bangalore/Bengaluru
2,Senior Data Analyst,Flipkart Internet Private Limited,2-5 Yrs,Bangalore/Bengaluru
3,Senior Data Analyst,Flipkart Internet Private Limited,3-7 Yrs,Bangalore/Bengaluru
4,Senior Data Analyst,Flipkart Internet Private Limited,3-7 Yrs,Bangalore/Bengaluru
5,Senior Data Analyst,Flipkart Internet Private Limited,3-7 Yrs,Bangalore/Bengaluru
6,Openings For Data Analyst,Allegis Services India Pvt. Ltd.,0-3 Yrs,Bangalore/Bengaluru
7,Data Analyst / Business Analyst (Demand Planning),Flipkart,1-4 Yrs,Bangalore/Bengaluru
8,Data Analyst,Applied Materials,0-3 Yrs,Bangalore/Bengaluru
9,Business Analyst/Data Analyst,Telamon HR Solutions,3-5 Yrs,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D..."
10,Business Cum Data Analyst,Virtusa Consulting Services Pvt Ltd,2-4 Yrs,Bangalore/Bengaluru

### Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data.

In [14]:
driver = webdriver.Chrome("chromedriver.exe")

In [15]:
driver.maximize_window()

In [16]:
url = 'https://www.naukri.com/' 
driver.get(url)

In [17]:
jobsearch = driver.find_element_by_id('qsb-keyword-sugg')
jobsearch

In [18]:
jobsearch.send_keys("Data Scientist")
location = driver.find_element_by_id('qsb-location-sugg')
location.send_keys("Bangalore")
search = driver.find_element_by_class_name('btn')
search.click()

In [19]:
job_title = []
company = []
locations = []
desc_url = []

In [21]:
title_tag = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
company_tag = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
location_tag = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span[1]")
description_url = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [22]:
for i in title_tag:
    job_title.append(i.text)
for c in company_tag:
    company.append(c.text)
company
for l in location_tag:
    locations.append(l.text)
for u in description_url:
    desc_url.append(u.get_attribute('href'))

In [23]:
desc_url

['https://www.naukri.com/job-listings-data-scientist-flipkart-internet-private-limited-bangalore-bengaluru-3-to-6-years-081021906627?src=jobsearchDesk&sid=16338414032903263&xp=1&px=1',
 'https://www.naukri.com/job-listings-data-scientist-ai-flagship-schneider-electric-india-pvt-ltd-bangalore-bengaluru-4-to-7-years-081021501357?src=jobsearchDesk&sid=16338414032903263&xp=2&px=1',
 'https://www.naukri.com/job-listings-data-scientist-glaxosmithkline-pharmaceuticals-limited-bangalore-bengaluru-4-to-7-years-081021501507?src=jobsearchDesk&sid=16338414032903263&xp=3&px=1',
 'https://www.naukri.com/job-listings-sr-data-scientist-bizviz-technologies-private-limited-bangalore-bengaluru-4-to-7-years-081021002595?src=jobsearchDesk&sid=16338414032903263&xp=4&px=1',
 'https://www.naukri.com/job-listings-data-scientist-bd-bangalore-bengaluru-2-to-5-years-091021500390?src=jobsearchDesk&sid=16338414032903263&xp=5&px=1',
 'https://www.naukri.com/job-listings-data-scientist-applied-materials-india-private-limited-chennai-bangalore-bengaluru-7-to-10-years-081021909146?src=jobsearchDesk&sid=16338414032903263&xp=6&px=1',
 'https://www.naukri.com/job-listings-senior-lead-data-scientist-scienaptic-systems-bangalore-bengaluru-10-to-12-years-041021500239?src=jobsearchDesk&sid=16338414032903263&xp=7&px=1',
 'https://www.naukri.com/job-listings-lead-data-scientist-siemens-limited-bangalore-bengaluru-6-to-11-years-081021500651?src=jobsearchDesk&sid=16338414032903263&xp=8&px=1',
 'https://www.naukri.com/job-listings-data-scientist-odessa-technologies-bangalore-bengaluru-5-to-7-years-081021500769?src=jobsearchDesk&sid=16338414032903263&xp=9&px=1',
 'https://www.naukri.com/job-listings-data-scientist-machine-learning-engineer-python-sql-spark-axcess-consultancy-services-hyderabad-secunderabad-pune-chennai-gurgaon-gurugram-bangalore-bengaluru-3-to-8-years-081021903174?src=jobsearchDesk&sid=16338414032903263&xp=10&px=1',
 'https://www.naukri.com/job-listings-data-scientist-immediate-joiners-atg-business-solutions-private-limited-bangalore-bengaluru-5-to-7-years-150921007902?src=jobsearchDesk&sid=16338414032903263&xp=11&px=1',
 'https://www.naukri.com/job-listings-data-scientist-o9-solutions-management-india-private-limited-bangalore-bengaluru-2-to-4-years-081021005444?src=jobsearchDesk&sid=16338414032903263&xp=12&px=1',
 'https://www.naukri.com/job-listings-data-scientist-novotree-minds-consulting-pvt-ltd-bangalore-bengaluru-3-to-6-years-081021500067?src=jobsearchDesk&sid=16338414032903263&xp=13&px=1',
 'https://www.naukri.com/job-listings-hiring-senior-data-scientist-new-era-india-consultancy-pvt-ltd-pune-ahmedabad-bangalore-bengaluru-delhi-ncr-2-to-7-years-081021004960?src=jobsearchDesk&sid=16338414032903263&xp=14&px=1',
 'https://www.naukri.com/job-listings-data-scientist-advanced-analytics-ibm-india-pvt-limited-bangalore-bengaluru-5-to-10-years-051021909207?src=jobsearchDesk&sid=16338414032903263&xp=15&px=1',
 'https://www.naukri.com/job-listings-digital-enterprise-architect-data-scientist-mphasis-limited-bangalore-bengaluru-10-to-13-years-051021900146?src=jobsearchDesk&sid=16338414032903263&xp=16&px=1',
 'https://www.naukri.com/job-listings-data-scientist-intel-technology-india-pvt-ltd-bangalore-bengaluru-1-to-2-years-041021501560?src=jobsearchDesk&sid=16338414032903263&xp=17&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-kwalee-india-pvt-ltd-bangalore-bengaluru-5-to-10-years-260321000780?src=jobsearchDesk&sid=16338414032903263&xp=18&px=1',
 'https://www.naukri.com/job-listings-data-scientist-applied-materials-india-private-limited-bangalore-bengaluru-2-to-4-years-081021909686?src=jobsearchDesk&sid=16338414032903263&xp=19&px=1',
 'https://www.naukri.com/job-listings-data-scientist-allegis-services-india-pvt-ltd-bangalore-bengaluru-1-to-3-years-071021604773?src=jobsearchDesk&sid=16338414032903263&xp=20&px=1']

In [24]:
desc = []

In [25]:
for d in desc_url:
    driver.get(d)
    try:
        content= driver.find_element_by_xpath("//div[@class='dang-inner-html']").text.replace('\n'," ").replace('\n\n'," ")
        
        desc.append(content)
    except:
        pass

In [27]:
desc

['About the role A Data Scientist in Flipkart is required to develop and implement a mix of ML, statistical and optimization models for the various projects formulated from business and product views. The responsible person should be able to communicate and collaborate with multiple stakeholders representing various teams to better understand the problem at hand. At a fundamental level, the responsible person should be able to dive deep into a problem statement and extract interesting insights as well as solutions. In addition to being a quick learner, a DS is expected to get involved in active research projects with a view to publish them. What you ll do Understand Business and product needs and use ML, statistical and optimization techniques as appropriate to provide solutions to those in a time bound fashion. Communicate and collaborate with business and product teams to have a better understanding of the project so as to be able to drive it within the DS team. Get involved in in-depth exploration of solutions that are to be shared with business and product teams; specifically, build models and scalable custom algorithms for problems including decision optimization and predictive modeling. Active participation in working with new methods and learning new technologies, in areas including data science and data engineering. What you ll need: B.Tech, M.Tech or PhD in CS, Operations Research or related discipline with professional experience ranging from 3 to 6 years through deployed solutions/projects. Candidate should have taken academic coursework in Operations Research (specifically mathematical optimization) Demonstrated experience in building discrete, linear, nonlinear or stochastic optimization models is required. Experience with optimization models for supply chain optimization is preferred but not required Demonstrated experience in utilizing and tuning commercial optimization solvers (e.g. CPLEX, Gurobi) and in building custom optimization algorithms (e.g. exact algorithms, metaheuristics, large neighborhood search, decomposition algorithms, greedy/randomized search) for industry-scale problems is required. Good grasp on the theory and practise of basic statistical models such as regression or clustering and general ML algorithms such as tree, Random Forests, SVM, Boosting, Neural Networks etc. It is not expected that the candidate has actually worked on all these modules. Strong proficiency in Python or R is necessary.',
 'Identify and understand business problems : partner with business stakeholders to understand and communicate on business objectives Define analytical techniques to solve business challenges Provide data science contribution into the assigned projects Be part of the innovation programs (eg. Semtech, chatbots) Maintain high quality code and documentation Assure efficiency, stability and scalability of the solution Create deliver easily-consumable presentations to large groups of stakeholders and executives that showcase actionable insights and recommendations Team Interaction Data Scientist interacts with all members of service line she is assigned to in order to develop provide best in class solutions for the business. She interacts as well with key stakeholders of the business domain business process owners/experts, operations etc. in order to identify business opportunities, discuss test solutions She interacts also with other service lines as well as Analytics Apps Infrastructure team in order to exchange best practices She interacts also with Analytics Apps Infrastructure team in order to industrialize data products She interacts with Global IT department (Schneider Digital) to support the work on Intel Data Store    ',
 'Working with multidisciplinary teams to identify, validate, and source required data and tools to develop and mature ML capabilities Performing data mining to discover nonobvious relationships, building training data, implementing and retraining ML solutions Conducting discovery workshops with business partners to identify business problems Building visualization dashboards to present metrics, statistical findings, and progress tracking Your Responsibilities Collaborate and work across business units to identify and source the data and technology to build and mature ML capabilities Conduct discovery workshops with business partners to identify business problems, obtain and validate training data Design, Build, implement, and retrain ML models to solve specific business problems Perform data mining and apply findings to increase modeling accuracy Cleary and concisely communicate business needs, computational findings and recommendations to all audiences regardless of their background or technical understanding Build, implement, and maintain visualization dashboards that clearly present both historical and real time operational metrics, research findings, and progress updates Basic Qualifications Bachelors degree in Applied Mathematics, Mathematical Engineering, Computer Science, Information Technology, or Related Field 10 + years of overall technical experience 2+ years of Machine Learning and or Data Mining experience 2+ years of experience building visualization dashboards 2+ years working with and manipulating large data sets 2+ years of hands on development experience using multiple languages Preferred Qualifications Masters degree in Applied Mathematics, Mathematical Engineering, Computer Science, Information Technology, or Related Field Experience with tools such as Tableau and Power BI Experience manipulating large data sets using technologies such as Hadoop, Azure, Hive, Spark, Element, Data Bricks, Mongo, and BigQuery Strong development experience using multiple languages such as Python, R Studio, SQL, C#, Java, Java Script, and Julia Successful completion of 2 or more projects (end to end) involving the migration and merging of large data sets from multiple sources, leveraging statistical analysis to identify meaningful and significant data relationships to build, train, and retrain ML models Experience and/or exposure to the cyber security industry and working with a SIEM such as Splunk or Google Chronicle',
 'As a data scientist, you need to be exceptionally driven, curious and creative. You will work with data scientists, engineers and product managers to create new ideas, formulate mathematical algorithms, design new machine learning models and develop prototype solutions to enhance capabilities of our products and satisfaction from our customers. You need to be an exceptional problem solver and have great communication skill.  Responsibilities:  Work on complex and extremely varied data sets Build algorithms based on telematics data and geographical information Build products Work with the Data Engineering team to productionise and optimise the models Design, build, and deploy internal tools and processes to operationalise ML best practices within our productata tasks Sharpen our data science capacity by mentoring team members on building predictive models, experimental methodologies, and causal inference approaches Develop and foster collaborative relationships with product, business and engineering teams to effectively serve our customers needs.  Specifications:  Degree or demonstrable experience in a quantitative field like statistics, physics, applied mathematics, operations research or engineering. Advanced degrees are preferred. Industry experience in data science, with statistics and machine learning responsibilities Experience with a range of techniques from statistical modelling to deep learning, from linear models to neural networks Proficiency in Python and SQL Experience developing and productionising models Experience with ML frameworks such as TensorFlow, Keras, Spark, Theano etc Strong background in Linear Algebra, Statistics and Mathematics Experience working with public cloud, preferably AWS or Azure Experience handling large datasets (>billions of rows) Exceptional communication skills and the ability to simplify complex engineering notions to non-technical audience Natural problem solver with curiosity as a feature, not a bug Ability to set expectations and confidently talk to AI hype versus reality Experience working cross functionally with engineering and product teams in a collaborative environment  Bonus points: Experience working with telematics data Experience working on automotive use cases Knowledge and understanding of geographical information systems and related data ecosystem Stream processing and real-time analytics',
 '  Understand business problems and develop end-to-end data science use cases Collaborate across the function to understand data and to find ways to visualize and communicate your work to both technical and non-technical audiences. Evolve best data operational practices and maintain all compliance requirements Monitor data science models in production Actively network on a regular basis with SME to better understand the business/technical mechanics that generated the data Promote collaboration and knowledge exchange with other data science teams within and outside the organization Develop processes and tools to monitor and analyze model performance and data accuracy One or more scientific programming languages such as R, Python, or Julia, One or more database query languages such as SQL, or HiveQL, One or more general-purpose scripting languages such as Bash, PowerShell, or Perlrovide the total years of experience and the relevant experience required in the relevant field for this position Skills Technical / Functional Skills Behavioural Skills Soft Skills Leadership Skills',
 'We are looking for an energetic and experienced person as Sr/Lead Data Scientist. The chosen candidate will be responsible for interacting with clients and developing all aspects of data mining, predictive analytic, solution development to name a few. Requirements Lead and take part in end-to-end ML (Machine Learning) projects deployments that require feasibility analysis, design, development, validation, and application of state-of-the art data science solutions. Need to deliver solutions to production through the software development lifecycle. You will have to push the state of the art application in terms of data mining, visualization, predictive modelling, statistics, trend analysis, and other data analysis techniques to solve complex business problems including recommender systems, Customer sentiment modelling, customer life-cycle modelling, Spare parts inventory optimization, spare parts pricing, warranty, After market channel effectiveness. Write production ready code and deploy real time ML models; expose ML outputs through APIs. Hypothesis Testing and Design of experiments to analyze and monitor results Partner with Data/ML engineers and vendor partners for input data pipes development and ML models automation. Skills 5 10 years of Applied Machine learning experience in the fields of Machine Learning, Recommender Systems, Statistical Modelling, Predictive Modelling. Note: We are looking for candidates who are presently serving their notice or who can join us within 15-20 days.',
 'This is your role. What part will you play You will be responsible for design and development of AI/ML solutions based on customer requirements within the constraints of architectural / design guidelines Involved in customer discussions for requirement engineering and developing solution architecture You will mine and analyze data from multiple data sources to drive optimization, reduce cost and improve other business outcomes. Regular technical coordination / review with customers and ensuring timely reporting and issues if any We don’t need hard workers, just super minds You must have BE / B.Tech / MCA / ME / M.Tech qualification with confirmed ability building with 8-11 years of experience in design and development. Proficiency with analytics, mathematics, and statistical analysis with significant hands-on experience in AI / Data Science. Must have very strong confirmed knowledge of data science AI technologies and associated frameworks. Hands-on working experience in   Time Series Data ,   Machine Learning, Deep learning . Should be involved in any combination of Probabilistic Data analysis or Classification Algorithm/Predictions/ Fault Prediction/Statistical Modeling /Time Series Modeling/Linear Regression Modeling/ Anomaly Detection Class of any domain specific data!, Good understanding in frameworks like shiny, Dplyr, Ggplot2, Esquisse, NumPy, SciPy, Pandas etc. Knowledge in: Linear and logistic regression, K-means, K-medoids, Naive Bayes, Decision tree, Random forest, Clustering, Bayesian model, PCA, LDA, t-SNE, LSTM, CNN, Predictive modelling, Time Series Analysis and Forecasting, Natural Language Processing (NLP) and Tabular Data set Must have good understanding of different Cloud Systems, knowledge of AWS Cloud and AWS services is must to have. Experience in data visualization tools like Tableau, Power BI, working with and creating data architectures. Knowledge of a variety of machine learning techniques (clustering, decision tree learning, artificial neural networks, etc.) and their real-world advantages/drawbacks. Good knowledge of querying SQL No SQL databases. Knowledge and experience in statistical and analytics techniques: GLM/Regression, Random Forest, Boosting, Trees, SVM, text mining, social network analysis, etc. Experience with distributed data/computing tools: Map/Reduce, Hadoop, Hive, Spark, MySQL, etc. Confirmed experience as a Data Scientist or Data Analyst Experience, Understanding of machine-learning and operations research. Visualizing/presenting the data analysis to partners in MS power point using following libraries ggplot, matplotlib, Seaborn. Experience in developing deploying the end-to-end data science pipeline into production.',
 '  Primary Role Odessa is looking for an experienced data scientist to drive high-quality design, execution, and development of analytical solutions that solve for complex business problems. As a data scientist, you will be responsible for developing features that rely on insights garnered by analyzing information and transactional data in the product database. The ideal candidate will be experienced in utilizing large datasets to identify new insights and opportunities for product and process optimization as well as using models to test the effectiveness of recommended processes and procedures. In this role, you will serve as a key stakeholder and thought leader in the evolution of Odessa s overall AI offering, working cross-functionally with technology leadership, functional teams and wide range of stakeholders to drive the long-term product roadmap. He/she will constantly look for opportunities in Odessa s overall AI offering to drive innovation, leveraging industry best practices to add value to the customer journey in our solution suite.  What you ll do Work closely with stakeholders across the organization to identify opportunities to leverage product data to drive business solutions Mine and analyze data from company databases to drive optimization and improvement of product development, marketing techniques, and business strategies Use predictive modeling to increase and optimize customer experiences, process optimization, financial fraud detection, business event prediction, and other business outcomes Assess effectiveness and accuracy of new data sources and data gathering techniques Develop custom data models and algorithms to apply to data sets Drive testing strategy for AI initiatives and test model quality Coordinate with functional and technical teams to understand, implement, and help design the optimal technical solutions Develop processes and tools to monitor and analyze model performance and data accuracy  Basic qualifications Bachelor s or Master s Degree in Statistics, Mathematics, Computer Science, or equivalent quantitative field 5-7 years of experience manipulating data sets and building statistical models, and is familiar with the following software/tools: Coding knowledge and experience with several languages: C, C++, Java, JavaScript, etc. Knowledge and experience in statistical and data mining techniques: GLM/Regression, Random Forest, Boosting, Trees, text mining, social network analysis, etc. Experience querying databases and using statistical computer languages: R, Python, SLQ, etc. Experience creating and using advanced machine learning algorithms and statistics: regression, simulation, scenario analysis, modeling, clustering, decision trees, neural networks, etc. Experience analyzing data from 3rd party providers: Google Analytics, Site Catalyst, Coremetrics, Adwords, Crimson Hexagon, Facebook Insights, etc. Experience with distributed data/computing tools: Map/Reduce, Hadoop, Hive, Spark, Gurobi, MySQL, etc. Strong problem-solving skills with an emphasis on product development Experience using statistical computer languages (R, Python, SLQ, etc.) to manipulate data and draw insights from large data sets Experience working with and creating data architectures Knowledge of multiple machine learning techniques including clustering, decision tree learning, artificial neural networks, etc., their real-world advantages and/or drawbacks Knowledge of advanced statistical techniques and concepts (regression, properties of distributions, statistical tests, and proper usage, etc.) and experience with applications Proven ability to drive business results with data-based insights Excellent written and verbal communication skills to work collaboratively and sucessfully coordinate across teams Preferred qualifications Experience building AI-related features in enterprise-grade solutions in the BFSI space Hands-on experience with the usage of emerging technologies (Azure or AWS AI/ML services)',
 'Designation:  Project Tech. Lead (4A): 5 - 7 Years  Project Manager/Architect (4B/5A): 7 - 10 Years  Role and responsibilities  - Project Management (50%)  - Design, develop, deploy, and maintain production-grade scalable data transformation, machine learning and deep learning code, pipelines; manage data and model versioning, training, tuning, serving, experiment and evaluation tracking dashboards.  - Manage ETL and machine learning model lifecycle: develop, deploy, monitor, maintain, and update data and models in production.  - Build and maintain tools and infrastructure for data processing for AI/ML development initiatives.  Technical skills requirements : The candidate must demonstrate proficiency in :  - Experience deploying machine learning models into production environment.  - Strong DevOps, Data Engineering and ML background with Cloud platforms  - Experience in containerization and orchestration (such as Docker, Kubernetes)  - Experience with ML training/retraining, Model Registry, ML model performance measurement using ML Ops open source frameworks.  - Experience building/operating systems for data extraction, ingestion and processing of large data sets  - Experience with MLOps tools such as MLFlow and Kubeflow  - Experience in Python scripting  - Experience with CI/CD  - Fluency in Python data tools e.g. Pandas, Dask, or Pyspark  - Experience working on large scale, distributed systems  - Python/Scala for data pipelines  - Scala/Java/Python for micro-services and APIs  - HDP, Oracle skills & Sql; Spark, Scala, Hive and Oozie DataOps (DevOps, CDC)  Nice-to-have skills  - Jenkins, K8S  - Google Cloud certification  - Unix or Shell scripting',

In [28]:
desc2 = []
for d in desc_url:
    driver.get(d)
    try:
        content= driver.find_element_by_xpath("//div[@class='clearboth description']").text.replace('\n'," ").replace('\n\n'," ")
        
        desc2.append(content)
    except:
        pass

In [29]:
desc2 #last 2 descriptions are in here

['At Applied Materials, we are building the next generation fab productivity solutions using Artificial Intelligence and Machine Learning. Our AI/ML team is looking for a Data Scientist who will be responsible for building predictive and prescriptive models to increase and optimize fab productivity. The data scientist must be self-directed and independent in conducting their work as well as working with and supporting globally distributed teams. The right candidate will be excited by the prospect of building our company’s next generation data science practice and products. Responsibilities Formulate and lead guided, multifaceted analytic studies against large volumes of data. Interpret and analyze data using exploratory mathematic and statistical techniques based on the scientific method. Coordinate research and analytic activities utilizing various data points (unstructured and structured) and employ programming to clean, massage, and organize the data. Experiment against data points, provide information based on experiment results and provide previously undiscovered solutions to command data challenges. Develop, productize and maintain machine learning and optimization models according to requirements to transform our product into an innovative industry leader Analyze problems and determines root causes. Work with stakeholders including the Product management, Data and Design teams to build models. Support our customers with their data science and optimization problems using our product Qualifications Advanced working SQL knowledge and experience working with relational databases, query authoring (SQL) as well as working familiarity with a variety of databases. Experience working with ‘big data’ data pipelines, architectures and data sets. Experience performing root cause analysis on internal and external data and processes to answer specific business questions and identify opportunities for improvement. Strong analytic skills related to working with unstructured datasets. A successful history of manipulating, processing and extracting value from large disconnected datasets. Strong project management and organizational skills. Experience supporting and working with cross-functional teams in a dynamic environment. Experience with big data tools: Hadoop, Spark, Kafka, etc. Experience with relational SQL and NoSQL databases, including Postgres, Cassandra, MongoDB. Experience with cloud AI services from AWS, Google, Azure Experience with optimization tools: Gurobi, CPLEX, etc. Experience with object-oriented/object function scripting languages: Python, Java, C++, Scala, etc. Education/Experience Candidate with 6+ years of experience in a Data Scientist role, who has attained a Graduate degree in Operations Research, Computer Science, Statistics, Informatics, Information Systems or another quantitative field.   Qualifications Education:Bachelors DegreeSkillsCertifications:Languages:Years of Experience:7 - 10 YearsWork Experience:  Additional Information Travel:Yes, 10% of the TimeRelocation Eligible:Yes',
 'As a Data Scientist at IBM, you will help transform our clients data into tangible business value by analyzing information, communicating outcomes and collaborating on product development. Work with Best in Class open source and visual tools, along with the most flexible and scalable deployment options. Whether it s investigating patient trends or weather patterns, you will work to solve real world problems for the industries transforming how we live.  Your Role and Responsibilities Work with IBM Q Start team on active exploratory research engagements to prepare for future use case commercialization within specific industry Engage and educate client data science teams to define promising areas for quantum exploration Implement quantum approaches, which includes data pre-/post-processing, running numerics and visualizing data Collaborate with industry and solutioning experts to design and shape experiments to demonstrate quantum-enabled advantage Define best practices related to information architecture, including collection, integration, organization, analysis and visualization of data for quantum-enabled impact Engage in practice development initiatives focused on building employee knowledge and skills in specific areas of expertise through coaching and development of training course material Required Technical and Professional Expertise PhD/Masters in STEM-related fields with knowledge in Quantum Computing. 5 years of data engineering and data science experience 2 years of consulting experience within specific industries with strong domain expertise and business acumen Proficiency with classical approaches to machine learning and linear algebra, including Support Vector Machine (SVM) for linear categorization and Singular Value Decomposition (SVD) to reduce dimensionality of data Familiar with Qiskit software, including Qiskit Aqua for domain applications and Qiskit Terra for quantum circuit design and optimization Excellent ideation, facilitation and communications skills Detail-oriented team player with strong interpersonal skills and ability to take a leadership role when necessary Willingness to travel globally up to 40% once we return to a travel-safe environment. English: Fluent Preferred Technical and Professional Expertise 2 years of experience in at least one of the industries, with knowledge of industry trends, R&D areas, and computationally intensive processes (e.g. optimization) Familiarity with Qiskit',
 'We are looking for applicants who will thrive in an open, dynamic, flexible, collaborative environment and desire creative freedom and an opportunity to work with high performing teams, who can join in 15 to 20 days. We are looking for a Data Scientist that will help us discover the information hidden in vast amounts of data for our client projects and help us derive cognitive based solutions for. Your primary focus will be in applying data mining techniques, doing statistical analysis and building high quality prediction systems integrated with our solutions like Automate scoring using machine learning techniques”, “build recommendation systems”, “improve and extend the features used by our existing classifier”, “develop internal A/B testing procedures”, “build system for automated fraud detection”, etc. Responsibilities: Selecting features, building and optimizing classifiers using machine learning techniques Data mining using state-of-the-art methods Extending company’s data with third party sources of information when needed Enhancing data collection procedures to include information that is relevant for building analytic systems Processing, cleansing, and verifying the integrity of data used for analysis Doing ad-hoc analysis and presenting results in a clear manner Creating automated anomaly detection systems and constant tracking of its performance Understands the Data science methodologies to the existing enterprise services to bring in the cognitive edge as the differentiators Skills & Qualifications: Solid knowledge of several statistical modeling and learning techniques. Hands on Coding in Azure Databricks, PySparks, Azure AI/ML services and Python/R Expertise in use of algorithmic / quantitative techniques to solve problems across following four areas Structured data analysis and programming Unstructured content mining Natural language processing Machine learning Experience in Azure platform (good to have) Technically hands-on experience in Azure Machine Learning services, Azure ML Studio, Azure Cognitive toolkit, designing, building and training machines etc., Excellent understanding of machine learning techniques and algorithms, such as k-NN, Naive Bayes, SVM, Decision Forests, etc. Experience with common data science toolkits, such as Anaconda, NumPy, MatLab, Pandas, Seaborn, SciKit-Learn, NLTK, etc . Excellence in at least one of these is highly desirable Great communication skills Experience with data visualization tools, such as D3.js, GGplot, etc. Good applied statistics skills, such as distributions, statistical testing, regression, etc. Good scripting and programming skills Proficiency in using query languages such as SQL, Hive, Pig etc., Experience with NoSQL databases, such as MongoDB, Cassandra, HBase Experience working with enterprise architecture for the complex solutions solving business problems and complying to organization policies Master of Technology in Data Science specialization',
 'Technical Skills and Experience Candidates must have 3+ years of R programming experience with mastery in Shiny R programming Skills and shiny web app development. Design and Building shiny web apps using R programming on VM. Worked on R packages like Data.Table, dplyr, tidry, Ggplot2 among others. Automate reporting and provide interactivity using R and Shiny. Knowledge of JavaScript, experience in developing HTML widget packages, fluency in CSS, Virtual Machine, Jira, ShellScript, Proficiency in understanding of code versioning using Git Experience extracting, combining, and conditioning various data formats from multiple sources using shellScript Other Skills A demonstrated end to end project experience Has technical documentation skill Capitalizes on opportunities to pursue value. Brings issues out in the open so that all concerns can address and find solutions. Strong interpersonal skills, with an ability to do customer interactions. Independent worker with high attention to detail Has an open and learning mindset. Adapts to new learning approaches and methods. Building professional relationships with team members and customers Functional Knowledge Demonstrates conceptual and practical expertise in own discipline and basic knowledge of related disciplines Business Expertise Has knowledge of coding best practices Leadership Acts as a resource for colleagues with less experience; may lead small projects with manageable risks and resource requirements Problem Solving Solves complex problems; takes a new perspective on existing solutions; exercises judgment based on the analysis of multiple sources of information Impact Impacts a range of customer, operational, project or service activities within own team and other related teams; works within broad guidelines and policies Interpersonal Skills Explains difficult or sensitive information; works to build consensus   Qualifications Education:Bachelors DegreeSkillsCertifications:Languages:Years of Experience:2 - 4 YearsWork Experience:  Additional Information Travel:Yes, 20% of the TimeRelocation Eligible:Yes']

In [30]:
descriptions = [] #combining values of desc1 and desc2 into main 'descriptions' list
for i in range(0,8):
    descriptions.append(desc[i])
for j in range(0,2):
    descriptions.append(desc2[j])

#### Storing in JobDF Dataframe

In [31]:
JobDF = pd.DataFrame({"Job Title":job_title[0:10],"Company":company[0:10],"Location":locations[0:10],"Job Description":descriptions[0:10]})
JobDF.reset_index(drop=True,inplace = True)
JobDF.index+= 1

In [32]:
JobDF

,Job Title,Company,Location,Job Description
1,Data Scientist,Flipkart Internet Private Limited,Bangalore/Bengaluru,About the role A Data Scientist in Flipkart is...
2,Data Scientist - AI Flagship,Schneider Electric India Pvt. Ltd.,Bangalore/Bengaluru,Identify and understand business problems : pa...
3,Data Scientist,GlaxoSmithKline Pharmaceuticals Limited,Bangalore/Bengaluru,Working with multidisciplinary teams to identi...
4,Sr. Data Scientist,BIZVIZ TECHNOLOGIES PRIVATE LIMITED,Bangalore/Bengaluru,"As a data scientist, you need to be exceptiona..."
5,Data Scientist,bd,Bangalore/Bengaluru,Understand business problems and develop end...
6,Data Scientist,Applied Materials,"Chennai, Bangalore/Bengaluru",We are looking for an energetic and experience...
7,Senior/Lead Data Scientist,Scienaptic Systems,Bangalore/Bengaluru,This is your role. What part will you play You...
8,Lead Data Scientist,Siemens Limited,Bangalore/Bengaluru,Primary Role Odessa is looking for an experi...
9,Data Scientist,Odessa Technologies,Bangalore/Bengaluru,"At Applied Materials, we are building the next..."
10,Data Scientist / Machine Learning Engineer - P...,Axcess consultancy services,"Hyderabad/Secunderabad, Pune, Chennai, Gurgaon...","As a Data Scientist at IBM, you will help tran..."

### Q3: In this question you have to scrape data using the filters available on the webpage as shown below:

####  You have to use the location and salary filter.
####  You have to scrape data for “Data Scientist” designation for first 10 job results.
####  You have to scrape the job-title, job-location, company_name, experience_required.
####  The location filter to be used is “Delhi/NCR”
####  The salary filter to be used is “3-6” lakhs

In [33]:
driver = webdriver.Chrome("chromedriver.exe")

In [34]:
driver.maximize_window()

In [35]:
url = 'https://www.naukri.com/' 
driver.get(url)

jobsearch = driver.find_element_by_id('qsb-keyword-sugg')
jobsearch
jobsearch.send_keys("Data Scientist")
search = driver.find_element_by_class_name('btn')
search.click()

In [38]:
location_filter=driver.find_element_by_xpath("//span[@title='Delhi / NCR']")
location_filter.click()

In [39]:
salary_filter=driver.find_element_by_xpath("//span[@title='3-6 Lakhs']")
salary_filter.click()

In [40]:
job_title = []
company = []
locations = []
xp = []

In [41]:
title_tag = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
company_tag = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
location_tag = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span[1]")
xp_tag = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span")

for i in title_tag:
    job_title.append(i.text)
for c in company_tag:
    company.append(c.text)
company
for l in location_tag:
    locations.append(l.text)
for x in xp_tag:
    xp.append(x.text)

#### Storing in JobDF Dataframe

In [42]:
JobDF = pd.DataFrame({"Job Title":job_title[0:10],"Company":company[0:10],"Experience":xp[0:10],"Location":locations[0:10]})
JobDF.reset_index(drop=True,inplace = True)
JobDF.index+= 1

In [43]:
JobDF

,Job Title,Company,Experience,Location
1,Data Scientist I/II/III,OLX India Pvt Ltd,3-6 Yrs,Gurgaon/Gurugram
2,Data Scientist,Milliman India Pvt Ltd,2-5 Yrs,Gurgaon/Gurugram
3,Academic Counsellor - Data Scientist,GreatLearning,1-4 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru"
4,Data Scientist,Optum Global Solutions (India) Private Limited,2-6 Yrs,"Noida, Gurgaon/Gurugram"
5,Data Scientist I/II/III,"OLX, Inc",3-6 Yrs,Gurgaon/Gurugram
6,Job Opportunity || Data Scientist || HCL Techn...,HCL Technologies,4-7 Yrs,Delhi / NCR
7,Associate Data Scientist,Optum Global Solutions (India) Private Limited,2-7 Yrs,Noida
8,Data Scientist,lericon infomatics pvt.ltd,3-5 Yrs,"Mumbai, Delhi / NCR"
9,Data Scientist,NatWest Group,2-7 Yrs,Gurgaon/Gurugram
10,Data Scientist,Fractal Analytics,3-7 Yrs,"Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru"

### Q4: Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company.

In [36]:
driver = webdriver.Chrome("chromedriver.exe")

In [37]:
driver.maximize_window()

In [38]:
url = 'https://www.glassdoor.co.in/index.htm' 
driver.get(url)

In [39]:
key1 = driver.find_element_by_xpath('//button[@class="d-none d-lg-block p-0 LockedHomeHeaderStyles__signInButton"]')
key1.click()
time.sleep(2)
key2 =  driver.find_element_by_id('userEmail')
key2.send_keys('dpk92249@gmail.com')
time.sleep(2)
key3 = driver.find_element_by_id('userPassword')
key3.send_keys('9693655358')
clk1 = driver.find_element_by_xpath('//button[@class="gd-ui-button minWidthBtn css-8i7bc2"]')
clk1.click()

In [40]:
key4 = driver.find_element_by_id('sc.keyword')
key4.send_keys('Data Scientist')

In [41]:
from selenium.webdriver.common.keys import Keys
key4 = driver.find_element_by_id('sc.location')
key4.send_keys(Keys.CONTROL,'a')
key4.send_keys(Keys.BACKSPACE)
time.sleep(1)
key4.send_keys('Noida')

In [43]:
try:
    ad = driver.find_element_by_xpath('/html/body/div[8]/div/div[2]/span')
    ad.click()
except:
    pass

In [46]:
company_name = [] 
posted = []
Rating_company = []

company = driver.find_elements_by_xpath('//a[@class="  job-search-key-l2wjgv e1n63ojh0 jobLink"]')
for i in company:
    company_name.append(i.text)

time.sleep(5)

post = driver.find_elements_by_xpath('//div[@class="d-flex align-items-end pl-std css-mi55ob"]')

for i in post:
    posted.append(i.text)
    
time.sleep(5)

rating = driver.find_elements_by_xpath('//span[@class="css-19pjha7 e1cjmv6j1"]')
for i in rating:
    Rating_company.append(i.text)

In [47]:
glass_door = pd.DataFrame({})
glass_door['company_name'] = company_name [:10]
glass_door['posted'] = posted[:10]
glass_door['Rating_company'] = Rating_company[:10]
glass_door.head()

Empty DataFrame
Columns: [company_name, posted, Rating_company]
Index: []

### Q5: Write a python program to scrape the salary data for Data Scientist designation in Noida location. You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary and rating.

In [80]:
driver = webdriver.Chrome("chromedriver.exe")

In [81]:
driver.maximize_window()

In [82]:
url = 'https://www.glassdoor.co.in/Salaries/index.htm' 
driver.get(url)

In [83]:
jobsearch = driver.find_element_by_id('KeywordSearch')
jobsearch
jobsearch.send_keys("Data Scientist")
location = driver.find_element_by_id('LocationSearch')
location.send_keys("Noida")
search = driver.find_element_by_xpath('/html/body/div[3]/div/div[1]/div[1]/div/div/form/button')
search.click()

In [86]:
company = []
job_title = []
Rating = []
sals = []
avg_sal = []
sal_num = []
Rating_tag = driver.find_elements_by_xpath("//span[@class='m-0 css-kyx745']")
company_tag = driver.find_elements_by_xpath("//a[@class='css-f3vw95 e1aj7ssy3']")
title_tag = driver.find_elements_by_xpath("//div[@class='col-12 col-lg px-xsm']//span")
sal_num_tag = driver.find_elements_by_xpath("//div[@class='col-12 col-lg-auto']//span")
sals_tag = driver.find_elements_by_xpath("//div[@class='d-none d-lg-block']//p")
avg_sal_tag = driver.find_elements_by_xpath("//div[@class='col-12 col-lg-4 px-lg-0 d-flex align-items-baseline']")
for i in company_tag:
    company.append(i.text)
for j in title_tag :
    job_title.append(j.text)
for r in Rating_tag:
    Rating.append(r.text)
for n in sal_num_tag:
    sal_num.append(n.text)
for m in sals_tag:
    sals.append(m.text)
for a in avg_sal_tag:
    avg_sal.append(a.text.replace("\n ",""))

In [87]:
avg_sal

['₹6,31,184/yr',
 '₹9,08,246/yr',
 '₹12,13,338/yr',
 '₹7,61,766/yr',
 '₹12,49,716/yr',
 '₹12,80,000/yr',
 '₹12,42,519/yr',
 '₹12,70,000/yr',
 '₹11,71,868/yr',
 '₹14,55,430/yr',
 '₹11,40,187/yr',
 '₹8,86,064/yr',
 '₹9,62,227/yr',
 '₹20,63,782/yr',
 '₹11,01,815/yr',
 '₹12,40,275/yr',
 '₹50,000/mo',
 '₹14,51,902/yr',
 '₹6,87,316/yr',
 '₹5,91,319/yr']

In [88]:
sals

['₹4L',
 '₹13L',
 '₹1L',
 '₹28L',
 '₹6L',
 '₹23L',
 '₹4L',
 '₹17L',
 '₹5L',
 '₹1Cr',
 '₹8L',
 '₹16L',
 '₹6L',
 '₹20L',
 '₹8L',
 '₹20L',
 '₹2L',
 '₹22L',
 '₹10L',
 '₹18L',
 '₹6L',
 '₹21L',
 '₹5L',
 '₹15L',
 '₹4L',
 '₹13L',
 '₹10L',
 '₹46L',
 '₹4L',
 '₹21L',
 '₹6L',
 '₹17L',
 '₹25T',
 '₹1L',
 '₹10L',
 '₹21L',
 '₹4L',
 '₹15L',
 '₹2L',
 '₹23L']

#### Separating min and max salaries

In [89]:
min_sal =[]
max_sal = []

for i in range(0,len(sals),2):
    min_sal.append(sals[i])
for j in range(1,len(sals),2):
    max_sal.append(sals[j])

In [90]:
min_sal

['₹4L',
 '₹1L',
 '₹6L',
 '₹4L',
 '₹5L',
 '₹8L',
 '₹6L',
 '₹8L',
 '₹2L',
 '₹10L',
 '₹6L',
 '₹5L',
 '₹4L',
 '₹10L',
 '₹4L',
 '₹6L',
 '₹25T',
 '₹10L',
 '₹4L',
 '₹2L']

In [91]:
max_sal

['₹13L',
 '₹28L',
 '₹23L',
 '₹17L',
 '₹1Cr',
 '₹16L',
 '₹20L',
 '₹20L',
 '₹22L',
 '₹18L',
 '₹21L',
 '₹15L',
 '₹13L',
 '₹46L',
 '₹21L',
 '₹17L',
 '₹1L',
 '₹21L',
 '₹15L',
 '₹23L']

#### Storing in JobDF Dataframe

In [92]:
JobDF = pd.DataFrame({"Job Title":job_title[0:10],"Company":company[0:10],"Minimum Salary(₹)":min_sal[0:10],"Maximum Salary(₹)":max_sal[0:10],"Average Salary(₹)":avg_sal[0:10],"Number of Salaries":sal_num[0:10],"Rating":Rating[0:10]})
JobDF.reset_index(drop=True,inplace = True)
JobDF.index+= 1
JobDF

,Job Title,Company,Minimum Salary(₹),Maximum Salary(₹),Average Salary(₹),Number of Salaries,Rating
1,Data Scientist,Tata Consultancy Services,₹4L,₹13L,"₹6,31,184/yr",25 salaries,3.9
2,Data Scientist,IBM,₹1L,₹28L,"₹9,08,246/yr",20 salaries,3.9
3,Data Scientist,Accenture,₹6L,₹23L,"₹12,13,338/yr",16 salaries,4.1
4,Data Scientist,Ericsson-Worldwide,₹4L,₹17L,"₹7,61,766/yr",15 salaries,4
5,Data Scientist,Delhivery,₹5L,₹1Cr,"₹12,49,716/yr",15 salaries,3.7
6,Data Scientist,UnitedHealth Group,₹8L,₹16L,"₹12,80,000/yr",14 salaries,3.7
7,Data Scientist,EXL Service,₹6L,₹20L,"₹12,42,519/yr",11 salaries,3.6
8,Data Scientist,Optum,₹8L,₹20L,"₹12,70,000/yr",11 salaries,3.7
9,Data Scientist,ZS Associates,₹2L,₹22L,"₹11,71,868/yr",10 salaries,4
10,Data Scientist,Optum Global Solutions,₹10L,₹18L,"₹14,55,430/yr",10 salaries,3.9

### Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
#### 1. Brand
#### 2. Product Description
#### 3. Price
#### 4. Discount %

In [95]:
driver = webdriver.Chrome("chromedriver.exe")
driver.maximize_window()

In [100]:
url = 'https://www.flipkart.com' 
driver.get(url)
glassessearch = driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
glassessearch.send_keys("Sunglasses")
search = driver.find_element_by_class_name('L0Z3Pu')
search.click()

In [101]:
brand = []
desc = []
price = []
disc = []

In [104]:
brand_tag = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
price_tag = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
disc_tag = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']//span")
desc_tag = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
for b in brand_tag:
        brand.append(b.text)
for d in desc_tag :
        desc.append(d.text)
for p in price_tag:
        price.append(p.text)
for c in disc_tag:
        disc.append(c.text)

In [105]:
import time

In [106]:
i=0
nextbtn = driver.find_element_by_class_name('_1LKTO3')
while(i<2):
    try:
        nextbtn.click()
    except:
        pass
    time.sleep(3) #to allow the page to load completely before scraping.
    brand_tag = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    price_tag = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    disc_tag = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']//span")
    desc_tag = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    
    for b in brand_tag:
        try:
            brand.append(b.text)
        except:
            pass
    
    for d in desc_tag :
        try:
            desc.append(d.text)
        except:
            pass
    
    for p in price_tag:
        try:
            price.append(p.text)
        except:
            pass
    for c in disc_tag:
        try:
            disc.append(c.text)
        except:
            pass

    
    if 'inactive' in nextbtn.get_attribute('class'):
        break;
    
    i=i+1

#### Storing in SunglassesDF DataFrame

In [107]:
SunglassesDF = pd.DataFrame({"Brand Name":brand[0:100],"Price(₹)":price[0:100],"Discount":disc[0:100],"Description":desc[0:100],})
SunglassesDF.reset_index(drop=True,inplace = True)
SunglassesDF.index+= 1
SunglassesDF.shape

(100, 4)

In [108]:
SunglassesDF

,Brand Name,Price(₹),Discount,Description
1,Fastrack,₹729,43% off,UV Protection Aviator Sunglasses (58)
2,Fastrack,₹499,37% off,UV Protection Rectangular Sunglasses (Free Size)
3,Fastrack,₹399,55% off,UV Protection Wayfarer Sunglasses (Free Size)
4,SHAAH COLLECTIONS,₹198,88% off,"UV Protection, Polarized, Mirrored Rectangular..."
5,PIRASO,₹200,87% off,UV Protection Aviator Sunglasses (54)
...,...,...,...,...
96,ROYAL SON,₹399,73% off,UV Protection Rectangular Sunglasses (55)
97,IDEE,₹799,61% off,"Mirrored, UV Protection Wayfarer Sunglasses (50)"
98,Fastrack,₹349,56% off,"Gradient, UV Protection Wayfarer Sunglasses (F..."
99,IDEE,₹979,60% off,UV Protection Rectangular Sunglasses (59)
100,ROYAL SON,₹479,76% off,UV Protection Retro Square Sunglasses (88)

### Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone.Scrape the data for first 100 reviews.
#### 1. Rating
#### 2. Review_summary
#### 3. Full review

In [109]:
driver = webdriver.Chrome("chromedriver.exe")
driver.maximize_window()
url = 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace' 
driver.get(url)

In [110]:
viewall = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[9]/div/div/div[5]/div/a/div/span')
viewall.click()

In [111]:
rev_sum = []
rating = []
rev = []

In [113]:
    rev_sum_tag = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
    rating_tag = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
    rev_tag = driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
    for r in rev_sum_tag:
        rev_sum.append(r.text)
    for j in rating_tag :
        rating.append(j.text)
    for k in rev_tag:
        rev.append(k.text.replace("\n"," "))

In [114]:
import time

In [116]:
i=0
nextbtn = driver.find_element_by_class_name('_1LKTO3')
while(i<10):
    try:
        nextbtn.click()
    except:
        pass
    
    time.sleep(3) #to allow the page to load completely before scraping.
    rev_sum_tag = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
    rating_tag = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
    rev_tag = driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
    for r in rev_sum_tag:
        try:
            rev_sum.append(r.text)
        except:
            pass
    for j in rating_tag :
        try:
            rating.append(j.text)
        except:
            pass
    for k in rev_tag:
        try:
            rev.append(k.text.replace("\n"," "))
        except:
            pass
    i=i+1

#### Storing values in iphoneDF Dataframe

In [117]:
iphoneDF = pd.DataFrame({"Summary":rev_sum[0:100],"Full Review":rev[0:100],"Rating":rating[0:100]})
iphoneDF.reset_index(drop=True,inplace = True)
iphoneDF.index+= 1
iphoneDF.shape

(100, 3)

In [118]:
iphoneDF

,Summary,Full Review,Rating
1,Brilliant,The Best Phone for the Money The iPhone 11 of...,5
2,Simply awesome,Really satisfied with the Product I received.....,5
3,Perfect product!,Amazing phone with great cameras and better ba...,5
4,Best in the market!,Great iPhone very snappy experience as apple k...,5
5,Fabulous!,This is my first iOS phone. I am very happy wi...,5
...,...,...,...
96,Worth every penny,Best budget Iphone till date ❤️ go for it guys...,5
97,Perfect product!,Iphone is just awesome.. battery backup is ver...,5
98,Simply awesome,"Excellent camera, good performance, no lag. Th...",5
99,Worth every penny,It’s been almost a month since I have been usi...,5
100,Terrific,Really worth of money. i just love it. It is t...,5

### Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
#### You have to scrape 4 attributes of each sneaker :
#### 1. Brand
#### 2. Product Description
#### 3. Price
#### 4. discount %

In [122]:
driver = webdriver.Chrome("chromedriver.exe")
driver.maximize_window()

In [124]:
url = 'https://www.flipkart.com' 
driver.get(url)
Sneakerssearch = driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
Sneakerssearch.send_keys("Sneakers")
search = driver.find_element_by_class_name('L0Z3Pu')
search.click()

In [125]:
brand = []
desc = []
price = []
disc = []
brand_tag = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
price_tag = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
disc_tag = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']//span")
desc_tag = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
for b in brand_tag:
   brand.append(b.text)
for d in desc_tag :
   desc.append(d.text)
for p in price_tag:
   price.append(p.text)
for c in disc_tag:
   disc.append(c.text)

In [126]:
import time 
i=0
nextbtn = driver.find_element_by_class_name('_1LKTO3')
while(i<2):
    try:
        nextbtn.click()
    except:
        pass
    time.sleep(3) #to allow the page to load completely before scraping.
    brand_tag = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    price_tag = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    disc_tag = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']//span")
    desc_tag = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    
    for b in brand_tag:
        try:
            brand.append(b.text)
        except:
            pass
    
    for d in desc_tag :
        try:
            desc.append(d.text)
        except:
            pass
    
    for p in price_tag:
        try:
            price.append(p.text)
        except:
            pass
    for c in disc_tag:
        try:
            disc.append(c.text)
        except:
            pass
    if 'inactive' in nextbtn.get_attribute('class'):
        break;
    i=i+1

#### Storing values in  SneakersDF Dataframe

In [127]:
SneakersDF = pd.DataFrame({"Brand Name":brand[0:100],"Price(₹)":price[0:100],"Discount":disc[0:100],"Description":desc[0:100],})
SneakersDF.reset_index(drop=True,inplace = True)
SneakersDF.index+= 1
SneakersDF.shape
SneakersDF

,Brand Name,Price(₹),Discount,Description
1,BRUTON,₹299,76% off,Modern Trendy Sneakers Shoes Sneakers For Men
2,ASTEROID,₹474,76% off,Original Luxury Branded Fashionable Men's Casu...
3,Numenzo,₹407,68% off,White Sneaker For Men Sneakers For Men
4,BIRDE,₹303,39% off,Birde Trendy Casual Shoes Sneakers For Men
5,Numenzo,₹426,78% off,411 Casual Sneakers For Men
...,...,...,...,...
96,India hub,₹383,56% off,Sneakers For Men
97,zovim,₹436,60% off,"Casuals, Canvas, Partywear Sneakers For Men"
98,mannu,₹398,57% off,Unique & Perfect Collection Combo Pack of 02 S...
99,Chevit,₹211,46% off,Mens Canvas Shoes for boys (Black) Sneakers Fo...
100,PUMA,"₹1,889",61% off,Sneakers For Men

### Q9: Go to the link - https://www.myntra.com/shoes
#### Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”,And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe.

In [128]:
driver = webdriver.Chrome("chromedriver.exe")
driver.maximize_window()
url = 'https://www.myntra.com/shoes' 
driver.get(url)

In [129]:
colour_filter = driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label")
colour_filter.click()

In [130]:
price_filter = driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label")
price_filter.click()

In [131]:
brand = []
desc = []
price = []
price2 = []
brand_tag = driver.find_elements_by_xpath("//h3[@class='product-brand']")
price_tag = driver.find_elements_by_xpath("//div[@class='product-price']//span[1]")
desc_tag = driver.find_elements_by_xpath("//h4[@class='product-product']")

In [132]:
for b in brand_tag:
   brand.append(b.text)
for d in desc_tag :
   desc.append(d.text)
for p in price_tag:
   price.append(p.text)

In [133]:
import time 
i=0
nextbtn = driver.find_element_by_class_name('pagination-next')
while(i<1):
    try:
        nextbtn.click()
    except:
        pass
    time.sleep(3) #to allow the page to load completely before scraping.
    brand_tag = driver.find_elements_by_xpath("//h3[@class='product-brand']")
    price_tag = driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']//span[1]")
    desc_tag = driver.find_elements_by_xpath("//h4[@class='product-product']")

    
    for b in brand_tag:
        try:
            brand.append(b.text)
        except:
            pass
    
    for d in desc_tag :
        try:
            desc.append(d.text)
        except:
            pass
    
    for p in price_tag:
        try:
            price.append(p.text)
        except:
            pass
    if 'inactive' in nextbtn.get_attribute('class'):
        break;
    i=i+1

In [134]:
price #has duplicate values

['Rs. 10499Rs. 14999',
 'Rs. 10499',
 'Rs. 11199Rs. 15999',
 'Rs. 11199',
 'Rs. 11199Rs. 15999',
 'Rs. 11199',
 'Rs. 7999Rs. 9999',
 'Rs. 7999',
 'Rs. 10399Rs. 12999',
 'Rs. 10399',
 'Rs. 7999Rs. 9999',
 'Rs. 7999',
 'Rs. 8799Rs. 10999',
 'Rs. 8799',
 'Rs. 9999',
 'Rs. 7199Rs. 8999',
 'Rs. 7199',
 'Rs. 8099Rs. 8999',
 'Rs. 8099',
 'Rs. 11999Rs. 14999',
 'Rs. 11999',
 'Rs. 6999',
 'Rs. 8449Rs. 12999',
 'Rs. 8449',
 'Rs. 8449Rs. 12999',
 'Rs. 8449',
 'Rs. 7999',
 'Rs. 10999',
 'Rs. 8999',
 'Rs. 7999Rs. 9999',
 'Rs. 7999',
 'Rs. 7199Rs. 8999',
 'Rs. 7199',
 'Rs. 7999',
 'Rs. 7195',
 'Rs. 7773Rs. 8449',
 'Rs. 7773',
 'Rs. 8999',
 'Rs. 6999Rs. 9999',
 'Rs. 6999',
 'Rs. 10999',
 'Rs. 7999Rs. 9999',
 'Rs. 7999',
 'Rs. 7999Rs. 9999',
 'Rs. 7999',
 'Rs. 8449Rs. 12999',
 'Rs. 8449',
 'Rs. 8999Rs. 9999',
 'Rs. 8999',
 'Rs. 8990',
 'Rs. 8799Rs. 10999',
 'Rs. 8799',
 'Rs. 7799Rs. 12999',
 'Rs. 7799',
 'Rs. 7199Rs. 7999',
 'Rs. 7199',
 'Rs. 10900',
 'Rs. 10399Rs. 12999',
 'Rs. 10399',
 'Rs. 11199Rs. 13999',
 'Rs. 11199',
 'Rs. 7693Rs. 10990',
 'Rs. 7693',
 'Rs. 7999',
 'Rs. 8490',
 'Rs. 7149Rs. 10999',
 'Rs. 7149',
 'Rs. 7999',
 'Rs. 12799Rs. 15999',
 'Rs. 12799',
 'Rs. 11999',
 'Rs. 11199Rs. 15999',
 'Rs. 11199',
 'Rs. 12999',
 'Rs. 12999',
 'Rs. 9599Rs. 15999',
 'Rs. 9599',
 'Rs. 8990',
 'Rs. 7799Rs. 12999',
 'Rs. 7799',
 'Rs. 7990',
 '',
 'Rs. 7799Rs. 12999',
 'Rs. 7799',
 '',
 'Rs. 7990',
 '',
 'Rs. 6999Rs. 9999',
 'Rs. 6999',
 '',
 'Rs. 6990',
 '',
 'Rs. 11305Rs. 11900',
 'Rs. 11305',
 '',
 'Rs. 6999Rs. 9999',
 'Rs. 6999',
 '',
 'Rs. 11999',
 '',
 'Rs. 7006Rs. 7149',
 'Rs. 7006',
 '',
 'Rs. 8990',
 '',
 'Rs. 8999Rs. 9999',
 'Rs. 8999',
 '',
 'Rs. 8990',
 '',
 'Rs. 10999',
 '',
 'Rs. 7199Rs. 8999',
 'Rs. 7199',
 '',
 'Rs. 7499',
 '',
 'Rs. 7490',
 '',
 'Rs. 9999',
 '',
 'Rs. 6990',
 '',
 'Rs. 8999',
 '',
 'Rs. 8999',
 '',
 'Rs. 11049Rs. 16999',
 'Rs. 11049',
 '',
 'Rs. 7999',
 '',
 'Rs. 8399Rs. 11999',
 'Rs. 8399',
 '',
 'Rs. 6990',
 '',
 'Rs. 8999',
 '',
 'Rs. 9599Rs. 11999',
 'Rs. 9599',
 '',
 'Rs. 11474Rs. 13499',
 'Rs. 11474',
 '',
 'Rs. 9990',
 '',
 'Rs. 6990',
 '',
 'Rs. 6990',
 '',
 'Rs. 7039Rs. 10999',
 'Rs. 7039',
 '',
 'Rs. 6990',
 '',
 'Rs. 7990',
 '',
 'Rs. 13490',
 '',
 'Rs. 7999',
 '',
 'Rs. 7499',
 '',
 'Rs. 8999',
 '',
 'Rs. 6990',
 '',
 'Rs. 9999',
 '',
 'Rs. 8999',
 '',
 'Rs. 9999',
 '',
 'Rs. 10999',
 '',
 'Rs. 10999',
 '',
 'Rs. 11999',
 '',
 'Rs. 6990',
 '',
 'Rs. 9099Rs. 12999',
 'Rs. 9099',
 '',
 'Rs. 8990',
 '',
 'Rs. 8994Rs. 14990',
 'Rs. 8994',
 '',
 'Rs. 7999Rs. 9999',
 'Rs. 7999',
 '',
 'Rs. 9999',
 '',
 'Rs. 6999Rs. 9999',
 'Rs. 6999']

In [135]:
while("" in price) :
    price.remove("")

In [136]:
price

['Rs. 10499Rs. 14999',
 'Rs. 10499',
 'Rs. 11199Rs. 15999',
 'Rs. 11199',
 'Rs. 11199Rs. 15999',
 'Rs. 11199',
 'Rs. 7999Rs. 9999',
 'Rs. 7999',
 'Rs. 10399Rs. 12999',
 'Rs. 10399',
 'Rs. 7999Rs. 9999',
 'Rs. 7999',
 'Rs. 8799Rs. 10999',
 'Rs. 8799',
 'Rs. 9999',
 'Rs. 7199Rs. 8999',
 'Rs. 7199',
 'Rs. 8099Rs. 8999',
 'Rs. 8099',
 'Rs. 11999Rs. 14999',
 'Rs. 11999',
 'Rs. 6999',
 'Rs. 8449Rs. 12999',
 'Rs. 8449',
 'Rs. 8449Rs. 12999',
 'Rs. 8449',
 'Rs. 7999',
 'Rs. 10999',
 'Rs. 8999',
 'Rs. 7999Rs. 9999',
 'Rs. 7999',
 'Rs. 7199Rs. 8999',
 'Rs. 7199',
 'Rs. 7999',
 'Rs. 7195',
 'Rs. 7773Rs. 8449',
 'Rs. 7773',
 'Rs. 8999',
 'Rs. 6999Rs. 9999',
 'Rs. 6999',
 'Rs. 10999',
 'Rs. 7999Rs. 9999',
 'Rs. 7999',
 'Rs. 7999Rs. 9999',
 'Rs. 7999',
 'Rs. 8449Rs. 12999',
 'Rs. 8449',
 'Rs. 8999Rs. 9999',
 'Rs. 8999',
 'Rs. 8990',
 'Rs. 8799Rs. 10999',
 'Rs. 8799',
 'Rs. 7799Rs. 12999',
 'Rs. 7799',
 'Rs. 7199Rs. 7999',
 'Rs. 7199',
 'Rs. 10900',
 'Rs. 10399Rs. 12999',
 'Rs. 10399',
 'Rs. 11199Rs. 13999',
 'Rs. 11199',
 'Rs. 7693Rs. 10990',
 'Rs. 7693',
 'Rs. 7999',
 'Rs. 8490',
 'Rs. 7149Rs. 10999',
 'Rs. 7149',
 'Rs. 7999',
 'Rs. 12799Rs. 15999',
 'Rs. 12799',
 'Rs. 11999',
 'Rs. 11199Rs. 15999',
 'Rs. 11199',
 'Rs. 12999',
 'Rs. 12999',
 'Rs. 9599Rs. 15999',
 'Rs. 9599',
 'Rs. 8990',
 'Rs. 7799Rs. 12999',
 'Rs. 7799',
 'Rs. 7990',
 'Rs. 7799Rs. 12999',
 'Rs. 7799',
 'Rs. 7990',
 'Rs. 6999Rs. 9999',
 'Rs. 6999',
 'Rs. 6990',
 'Rs. 11305Rs. 11900',
 'Rs. 11305',
 'Rs. 6999Rs. 9999',
 'Rs. 6999',
 'Rs. 11999',
 'Rs. 7006Rs. 7149',
 'Rs. 7006',
 'Rs. 8990',
 'Rs. 8999Rs. 9999',
 'Rs. 8999',
 'Rs. 8990',
 'Rs. 10999',
 'Rs. 7199Rs. 8999',
 'Rs. 7199',
 'Rs. 7499',
 'Rs. 7490',
 'Rs. 9999',
 'Rs. 6990',
 'Rs. 8999',
 'Rs. 8999',
 'Rs. 11049Rs. 16999',
 'Rs. 11049',
 'Rs. 7999',
 'Rs. 8399Rs. 11999',
 'Rs. 8399',
 'Rs. 6990',
 'Rs. 8999',
 'Rs. 9599Rs. 11999',
 'Rs. 9599',
 'Rs. 11474Rs. 13499',
 'Rs. 11474',
 'Rs. 9990',
 'Rs. 6990',
 'Rs. 6990',
 'Rs. 7039Rs. 10999',
 'Rs. 7039',
 'Rs. 6990',
 'Rs. 7990',
 'Rs. 13490',
 'Rs. 7999',
 'Rs. 7499',
 'Rs. 8999',
 'Rs. 6990',
 'Rs. 9999',
 'Rs. 8999',
 'Rs. 9999',
 'Rs. 10999',
 'Rs. 10999',
 'Rs. 11999',
 'Rs. 6990',
 'Rs. 9099Rs. 12999',
 'Rs. 9099',
 'Rs. 8990',
 'Rs. 8994Rs. 14990',
 'Rs. 8994',
 'Rs. 7999Rs. 9999',
 'Rs. 7999',
 'Rs. 9999',
 'Rs. 6999Rs. 9999',
 'Rs. 6999']

In [137]:
#removing duplicate values
j = 0
for c in price:
    if len(c) > 12:
        del price[j]
    j += 1

In [138]:
price

['Rs. 10499',
 'Rs. 11199',
 'Rs. 11199',
 'Rs. 7999',
 'Rs. 10399',
 'Rs. 7999',
 'Rs. 8799',
 'Rs. 9999',
 'Rs. 7199',
 'Rs. 8099',
 'Rs. 11999',
 'Rs. 6999',
 'Rs. 8449',
 'Rs. 8449',
 'Rs. 7999',
 'Rs. 10999',
 'Rs. 8999',
 'Rs. 7999',
 'Rs. 7199',
 'Rs. 7999',
 'Rs. 7195',
 'Rs. 7773',
 'Rs. 8999',
 'Rs. 6999',
 'Rs. 10999',
 'Rs. 7999',
 'Rs. 7999',
 'Rs. 8449',
 'Rs. 8999',
 'Rs. 8990',
 'Rs. 8799',
 'Rs. 7799',
 'Rs. 7199',
 'Rs. 10900',
 'Rs. 10399',
 'Rs. 11199',
 'Rs. 7693',
 'Rs. 7999',
 'Rs. 8490',
 'Rs. 7149',
 'Rs. 7999',
 'Rs. 12799',
 'Rs. 11999',
 'Rs. 11199',
 'Rs. 12999',
 'Rs. 12999',
 'Rs. 9599',
 'Rs. 8990',
 'Rs. 7799',
 'Rs. 7990',
 'Rs. 7799',
 'Rs. 7990',
 'Rs. 6999',
 'Rs. 6990',
 'Rs. 11305',
 'Rs. 6999',
 'Rs. 11999',
 'Rs. 7006',
 'Rs. 8990',
 'Rs. 8999',
 'Rs. 8990',
 'Rs. 10999',
 'Rs. 7199',
 'Rs. 7499',
 'Rs. 7490',
 'Rs. 9999',
 'Rs. 6990',
 'Rs. 8999',
 'Rs. 8999',
 'Rs. 11049',
 'Rs. 7999',
 'Rs. 8399',
 'Rs. 6990',
 'Rs. 8999',
 'Rs. 9599',
 'Rs. 11474',
 'Rs. 9990',
 'Rs. 6990',
 'Rs. 6990',
 'Rs. 7039',
 'Rs. 6990',
 'Rs. 7990',
 'Rs. 13490',
 'Rs. 7999',
 'Rs. 7499',
 'Rs. 8999',
 'Rs. 6990',
 'Rs. 9999',
 'Rs. 8999',
 'Rs. 9999',
 'Rs. 10999',
 'Rs. 10999',
 'Rs. 11999',
 'Rs. 6990',
 'Rs. 9099',
 'Rs. 8990',
 'Rs. 8994',
 'Rs. 7999',
 'Rs. 9999',
 'Rs. 6999']

#### storing the values in MyntraShoeDF DataFrame

In [139]:
MyntraShoesDF = pd.DataFrame({"Brand Name":brand[0:100],"Price(₹)":price[0:100],"Description":desc[0:100],})
MyntraShoesDF.reset_index(drop=True,inplace = True)
MyntraShoesDF.index+= 1
MyntraShoesDF

          Brand Name   Price(₹)                     Description
1               ALDO  Rs. 10499           Leather Solid Loafers
2               ALDO  Rs. 11199             Men Leather Loafers
3               ALDO  Rs. 11199               Men Driving Shoes
4    PUMA Motorsport   Rs. 7999   Unisex Scuderia Ferrari Shoes
5               Puma  Rs. 10399   Men Jamming 2.0 Running Shoes
..               ...        ...                             ...
96             Ruosh   Rs. 8990  Men Solid Leather Formal Monks
97              Geox   Rs. 8994     Men Leather Formal Slip-Ons
98              Puma   Rs. 7999        Unisex Textured Sneakers
99              Geox   Rs. 9999             Women Leather Pumps
100             ALDO   Rs. 6999       Women Solid Leather Pumps

[100 rows x 3 columns]

### Q10: Go to webpage https://www.amazon.in/
#### Enter “Laptop” in the search field and then click the search icon.
#### Then set CPU Type filter to “Intel Core i7” and “Intel Core i9”
#### attributes for each laptop:
#### 1. title
#### 2. Ratings
#### 3. Price

In [52]:
url = 'https://www.amazon.in/'

In [67]:
driver = webdriver.Edge("msedgedriver.exe")
driver.get(url)

In [68]:
Laptopsearch = driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
Laptopsearch.send_keys("Laptop")
search = driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search.click()

In [69]:
i7_filter = driver.find_element_by_xpath('//span[text() = "Intel Core i7"]')
i7_filter.click()

In [70]:
i9_filter =  driver.find_element_by_xpath('//span[text() = "Intel Core i9"]')
i9_filter.click()

In [71]:
title = []
price = []
Rating = []
Rating_tag = driver.find_elements_by_xpath("//span[@class='a-icon-alt']")
title_tag = driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
price_tag = driver.find_elements_by_xpath("//div[@class='sg-col-inner']//span[@class='a-price-whole']")

for i in title_tag:
    title.append(i.text)
    
for r in Rating_tag :
    Rating.append(r.get_attribute("innerHTML"))
    
for p in price_tag:
    price.append(p.text)

In [72]:
del title[8] #deleting element with no price attribute to prevent price mismatch in dataframe

In [73]:
Rating

['4.3 out of 5 stars',
 '4.4 out of 5 stars',
 '3.3 out of 5 stars',
 '4.3 out of 5 stars',
 '4.2 out of 5 stars',
 '4.0 out of 5 stars',
 '3.3 out of 5 stars',
 '3.8 out of 5 stars',
 '4.4 out of 5 stars',
 '4.2 out of 5 stars',
 '4.4 out of 5 stars',
 '4.3 out of 5 stars',
 '4.0 out of 5 stars',
 '4.5 out of 5 stars',
 '4.4 out of 5 stars',
 '3.2 out of 5 stars',
 '4.2 out of 5 stars',
 '4.1 out of 5 stars',
 '3.6 out of 5 stars',
 '5.0 out of 5 stars',
 '4.1 out of 5 stars',
 '4.8 out of 5 stars',
 '4.0 out of 5 stars',
 '4.3 out of 5 stars',
 '4.4 out of 5 stars',
 '4.4 out of 5 stars',
 '4 Stars &amp; Up',
 '3 Stars &amp; Up',
 '2 Stars &amp; Up',
 '1 Star &amp; Up']

#### Saving as LaptopDf DataFrame

In [61]:
LaptopDF = pd.DataFrame({"Laptop Name":title[0:10],"Price(₹)":price[0:10],"Rating":Rating[0:10]})
LaptopDF.reset_index(drop=True,inplace = True)
LaptopDF.index+= 1
LaptopDF

,Laptop Name,Price(₹),Rating
1,"LG Gram Ultra-Light 11th Gen Core i7,16 GB RAM...","92,290",4.3 out of 5 stars
2,Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....,"84,990",4.4 out of 5 stars
3,Life Digital Laptop 15.6-inch (39.62 cms) (Int...,"24,990",3.3 out of 5 stars
4,HP Pavilion (2021) Intel 11th Gen Core i7 14 i...,"84,990",4.3 out of 5 stars
5,Mi Notebook Horizon Edition 14 Intel Core i7-1...,"53,990",4.2 out of 5 stars
6,Acer Nitro 5 11th Gen Intel Core i7-11800H 15....,"89,990",4.0 out of 5 stars
7,ASUS TUF Dash F15 (2021) 15.6-inch (39.62 cms)...,"87,000",3.8 out of 5 stars
8,Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....,"84,990",4.4 out of 5 stars
9,Dell 14 (2021) i7-1195G7 2in1 Touch Screen Lap...,"91,990",4.4 out of 5 stars
10,Lenovo Legion 5 10th Gen Intel Core i7-10750H ...,"89,990",4.0 out of 5 stars