In [1]:
import selenium
import pandas as pd
import numpy as np
from selenium import webdriver
from bs4 import BeautifulSoup
import requests
import time
from selenium.common.exceptions import NoSuchElementException,ElementNotInteractableException,ElementNotVisibleException
import re

### Q1. Scrape the details of most viewed videos on YouTube from Wikipedia:
##### Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/
##### You need to find following details:  A) Rank B) Name  C) Artist D) Upload date  E) Views

In [2]:
url =  'https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
driver = webdriver.Edge("msedgedriver.exe")
driver.get(url)

In [3]:
num =[]
vid =[]
uploadr = []
views = []
date = []

In [4]:
for i in range(1,31):
    num_tag=driver.find_element_by_xpath(f"//*[@id='mw-content-text']/div[1]/table[3]/tbody/tr[{i}]/td[1]")
    try:
      num.append(num_tag.text)
    except NoSuchElementException:
      num.append("-")
       
for i in range(1,31):
    vid_tag=driver.find_element_by_xpath(f"//*[@id='mw-content-text']/div[1]/table[3]/tbody/tr[{i}]/td[2]")
    try:
        vid.append(vid_tag.text.strip().split('"')[1]) #appending only the names of the videos
    except NoSuchElementException:
        vid.append("-")
 
for i in range(1,31):
    uploadr_tag=driver.find_element_by_xpath(f"//*[@id='mw-content-text']/div[1]/table[3]/tbody/tr[{i}]/td[3]")
    try:
        uploadr.append(uploadr_tag.text)
    except NoSuchElementException:
        uploadr.append("-")
        
for i in range(1,31):
    views_tag=driver.find_element_by_xpath(f"//*[@id='mw-content-text']/div[1]/table[3]/tbody/tr[{i}]/td[4]")
    try:
        views.append(views_tag.text)
    except NoSuchElementException:
        views.append("-")
        
        
for i in range(1,31):
    date_tag=driver.find_element_by_xpath(f"//*[@id='mw-content-text']/div[1]/table[3]/tbody/tr[{i}]/td[5]")
    try:
        date.append(date_tag.text)
    except NoSuchElementException:
        date.append("-")

topyoutubevids = {"Rank":num,"Name":vid,"Artist":uploadr,"Upload Date":date,"Views(Billions)":views}
topyoutubevidsDF = pd.DataFrame(topyoutubevids)

In [5]:
topyoutubevidsDF

,Rank,Name,Artist,Upload Date,Views(Billions)
0,1.,Baby Shark Dance,Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",9.58
1,2.,Despacito,Luis Fonsi,"January 12, 2017",7.61
2,3.,Johny Johny Yes Papa,LooLoo Kids,"October 8, 2016",5.85
3,4.,Shape of You,Ed Sheeran,"January 30, 2017",5.51
4,5.,See You Again,Wiz Khalifa,"April 6, 2015",5.31
5,6.,Bath Song,Cocomelon – Nursery Rhymes,"May 2, 2018",4.60
6,7.,Learning Colors – Colorful Eggs on a Farm,Miroshka TV,"February 27, 2018",4.53
7,8.,Masha and the Bear – Recipe for Disaster,Get Movies,"January 31, 2012",4.47
8,9.,Uptown Funk,Mark Ronson,"November 19, 2014",4.34
9,10.,Phonics Song with Two Words,ChuChu TV,"March 6, 2014",4.27
10,11.,Gangnam Style,Psy,"July 15, 2012",4.24
11,12.,Dame Tu Cosita,El Chombo,"April 5, 2018",3.67
12,13.,Sugar,Maroon 5,"January 14, 2015",3.58
13,14.,Sorry,Justin Bieber,"October 22, 2015",3.48
14,15.,Roar,Katy Perry,"September 5, 2013",3.46
15,16.,Counting Stars,OneRepublic,"May 31, 2013",3.43
16,17.,Thinking Out Loud,Ed Sheeran,"October 7, 2014",3.35
17,18.,Wheels on the Bus,Cocomelon – Nursery Rhymes,"May 24, 2018",3.33
18,19.,Faded,Alan Walker,"December 3, 2015",3.17
19,20.,Dark Horse,Katy Perry,"February 20, 2014",3.17
20,21.,Girls Like You,Maroon 5,"May 31, 2018",3.16
21,22.,Lean On,Major Lazer,"March 22, 2015",3.12
22,23.,Bailando,Enrique Iglesias,"April 11, 2014",3.12
23,24.,Shake It Off,Taylor Swift,"August 18, 2014",3.11
24,25.,Let Her Go,Passenger,"July 25, 2012",3.11
25,26.,Axel F,Crazy Frog,"June 16, 2009",3.08
26,27.,Perfect,Ed Sheeran,"November 9, 2017",3.00
27,28.,Mi Gente,J Balvin,"June 29, 2017",3.00
28,29.,Waka Waka (This Time for Africa),Shakira,"June 4, 2010",2.98
29,30.,Hello,Adele,"October 22, 2015",2.90

### Q2. Scrape the details team India’s international fixtures from bcci.tv.
#### Url = https://www.bcci.tv/.
#### You need to find following details:
#### A) Match title (I.e. 1st ODI) B) Series C) Place D) Date E) Time

In [6]:
url =  'https://www.bcci.tv/'
driver = webdriver.Edge("msedgedriver.exe")
driver.get(url)

In [7]:
intbtn = driver.find_element_by_xpath('/html/body/div[3]/div/div[2]/div[2]/nav/ul/li[1]/div[2]')
try:
    intbtn.click() #clicking on International button
except ElementNotInteractableException:
    pass
     
fixbtn =  driver.find_element_by_xpath('/html/body/div[3]/div/div[2]/div[2]/nav/ul/li[1]/div[2]/div/ul/li[1]/a')
try: 
    fixbtn.click() #clicking on Fixtures button
except ElementNotInteractableException:
    pass

In [8]:
Match_title = []
Series = []
Place = []
Date = []
Time = []

In [9]:
Match_title_tag = driver.find_elements_by_xpath("//strong[@class='fixture__name fixture__name--with-margin']")
Series_tag = driver.find_elements_by_xpath("//div[@class='fixture__format-strip']")
Place_tag = driver.find_elements_by_xpath("//p[@class='fixture__additional-info']//span")
Date_tag = driver.find_elements_by_xpath("//span[@class='fixture__datetime tablet-only']//strong")
Time_tag = driver.find_elements_by_xpath("//span[@class='fixture__datetime tablet-only']")

In [10]:
for m in Match_title_tag:
    try:
        Match_title.append(m.text)
    except NoSuchElementException:
        Match_title.append("-")
for s in Series_tag:
    try:
        Series.append(s.text.replace("\n"," "))
    except NoSuchElementException:
        Series.append("-")
        
for p in Place_tag:
    try:
        Place.append(p.text)
    except NoSuchElementException:
        Place.append("-")
        
for d in Date_tag:
    try:
        Date.append(d.text)
    except NoSuchElementException:
        Date.append("-")
for t in Time_tag:
    try:
        Time.append(t.get_attribute("innerHTML").split("</strong> ")[1]) #getting the time values
    except NoSuchElementException:
        Time.append("-")

In [11]:
Cricket = {'Match Title': Match_title,'Series':Series,'Place':Place,'Date':Date,'Time':Time}

In [12]:
CricketDF=pd.DataFrame(Cricket)

In [13]:
CricketDF

,Match Title,Series,Place,Date,Time
0,Match 42,T20I 2021 ICC MEN'S T20 WORLD CUP,"Dubai International Stadium, Dubai",,19:30 IST
1,1st T20I,T20I INDIA V NEW ZEALAND 2021,"Sawai Mansingh Stadium, Jaipur",,
2,2nd T20I,T20I INDIA V NEW ZEALAND 2021,"JSCA International Stadium Complex, Ranchi",,
3,3rd T20I,T20I INDIA V NEW ZEALAND 2021,"Eden Gardens, Kolkata",,
4,1st Test,TEST INDIA V NEW ZEALAND 2021,"Green Park, Kanpur",,
5,2nd Test,TEST INDIA V NEW ZEALAND 2021,"Wankhede Stadium, Mumbai",,
6,1st ODI,ODI INDIA V WEST INDIES 2022,"Narendra Modi Stadium, Ahmedabad",,
7,2nd ODI,ODI INDIA V WEST INDIES 2022,"Sawai Mansingh Stadium, Jaipur",,
8,3rd ODI,ODI INDIA V WEST INDIES 2022,"Eden Gardens, Kolkata",,
9,1st T20I,T20I INDIA V WEST INDIES 2022,"Barabati Stadium, Cuttack",,

### 3. Scrape the details of selenium exception from guru99.com.
##### Url = https://www.guru99.com/
###### You need to find following details:
###### A) Name
###### B) Description

In [14]:
url =  'https://www.guru99.com/'
driver = webdriver.Edge("msedgedriver.exe")
driver.get(url)

In [15]:
selbtn = driver.find_element_by_xpath('/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[2]/div[1]/div/ul[1]/li[3]/a')
try:
    selbtn.click() #clicking on Selenium button
except ElementNotInteractableException:
    pass
     
tutbtn =  driver.find_element_by_xpath('/html/body/div[1]/div/div/div/main/div/article/div/div/table[5]/tbody/tr[34]/td[1]/a/strong')
try: 
    tutbtn.click() #clicking on Exceptions Tutorial button
except ElementNotInteractableException:
    pass

In [16]:
Name = []
desc = []

In [17]:
for i in range(2,43):
    Name_tag = driver.find_element_by_xpath(f"//*[@id='post-1953']/div/div/table/tbody/tr[{i}]/td[1]")
    try:
        Name.append(Name_tag.text)
    except NoSuchElementException:
        Name.append("-")
for i in range(2,43):    
    desc_tag = driver.find_element_by_xpath(f"//*[@id='post-1953']/div/div/table/tbody/tr[{i}]/td[2]")
    try:
        desc.append(desc_tag.text)
    except NoSuchElementException:
        desc.append("-")

In [18]:
Excep = {'Name': Name,'Description':desc}

In [19]:
ExceptionDF = pd.DataFrame(Excep)

In [20]:
ExceptionDF

,Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

### Q4. Scrape the details of State-wise GDP of India from statisticstime.com.
##### Url = http://statisticstimes.com/
##### find following details:
##### A) Rank
##### B) State
##### C) GSDP at current price (19-20)
##### D) GSDP at current price (18-19)
##### E) Share(18-19)
##### F) GDP($ billion)

In [21]:
url =  'http://statisticstimes.com/'
driver = webdriver.Edge("msedgedriver.exe")
driver.get(url)

In [22]:
Eco_btn=driver.find_element_by_xpath("/html/body/div[2]/div[1]/div[2]/div[2]/button") #economy button
try:
    Eco_btn.click()#click economy button
except ElementNotInteractableException:
    pass

ind=driver.find_element_by_xpath("/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]")#India button
try:
    ind.click()#click India button
except ElementNotInteractableException:
    pass

In [23]:
indstate=driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")#GDP of Indian states
try:
    indstate.click()#click button
except ElementNotInteractableException:
    pass

In [24]:
Rank = []
State = []
GSDP_19 = []
GSDP_18 = []
Share_18 = []
GDP = []

In [25]:
for i in range(1,34):
    rank_tag = driver.find_element_by_xpath(f"//*[@id='table_id']/tbody/tr[{i}]/td[1]")
    try:
        Rank.append(rank_tag.text)
    except NoSuchElementException:
        Rank.append("-")
for i in range(1,34):
    State_tag = driver.find_element_by_xpath(f"//*[@id='table_id']/tbody/tr[{i}]/td[2]")
    try:
        State.append(State_tag.text)
    except NoSuchElementException:
        State.append("-")
        
for i in range(1,34):
    GSDP_19_tag = driver.find_element_by_xpath(f"//*[@id='table_id']/tbody/tr[{i}]/td[3]")
    try:
        GSDP_19.append(GSDP_19_tag.text)
    except NoSuchElementException:
        GSDP_19.append("-")

for i in range(1,34):
    GSDP_18_tag = driver.find_element_by_xpath(f"//*[@id='table_id']/tbody/tr[{i}]/td[4]")
    try:
        GSDP_18.append(GSDP_18_tag.text)
    except NoSuchElementException:
        GSDP_18.append("-")

for i in range(1,34):
    Share_18_tag = driver.find_element_by_xpath(f"//*[@id='table_id']/tbody/tr[{i}]/td[5]")
    try:
        Share_18.append(Share_18_tag.text)
    except NoSuchElementException:
        Share_18.append("-")
for i in range(1,34):
    GDP_tag = driver.find_element_by_xpath(f"//*[@id='table_id']/tbody/tr[{i}]/td[6]")
    try:
        GDP.append(GDP_tag.text)
    except NoSuchElementException:
        GDP.append("-")

In [26]:
GDPInd = {'Rank': Rank,'State':State,'GSDP at current price(19-20)':GSDP_19,'GSDP at current price(18-19)':GSDP_18,'Share(18-19)':Share_18,'GDP($ billion)':GDP}

In [27]:
GDPDF = pd.DataFrame(GDPInd)

In [28]:
GDPDF

,Rank,State,GSDP at current price(19-20),GSDP at current price(18-19),Share(18-19),GDP($ billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

### 5. Scrape the details of trending repositories on Github.com.
#### Url = https://github.com/
#### find the following details:
#### A) Repository title
#### B) Repository description
#### C) Contributors count
#### D) Language used

In [29]:
url =  'https://github.com/'
driver = webdriver.Edge("msedgedriver.exe")
driver.get(url)

In [30]:
Exp_btn=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary") #explore button
try:
    Exp_btn.click()#click explore button
except ElementNotInteractableException:
    pass
trnd=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul[2]/li[3]/a")#Trending button
try:
    trnd.click()#click Trending button
except ElementNotInteractableException:
    pass

In [31]:
Repo_title = []
Repo_desc = []
count = []
repourl = []

In [32]:
Repo_title_tag = driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']/a")

In [33]:
for r in Repo_title_tag:
    try:
       repourl.append(r.get_attribute("href"))
    except NoSuchElementException:
        repourl.append("-")

In [34]:
Repo_title_tag = driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']/a")

In [35]:
for r in Repo_title_tag:
    try:
        Repo_title.append(r.text)
    except NoSuchElementException:
        Repo_title.append("-")

In [36]:
len(Repo_title)

25

In [37]:
for i in repourl:
    driver.get(i)
    time.sleep(5)
    try:   
        Repo_desc_tag = driver.find_element_by_xpath("//p[@class='f4 mt-3']")
        Repo_desc.append(Repo_desc_tag.text)
    except NoSuchElementException:
        Repo_desc.append('-')
    try:
        count_tag = driver.find_element_by_xpath("//a[contains(@href,'contributors')]/span")
        count.append(count_tag.text)
    except NoSuchElementException:
        count.append('-')

In [38]:
lng = []

In [39]:
for i in repourl:
    driver.get(i)
    time.sleep(5)
    try:
        lng_tag = driver.find_element_by_xpath("//a[contains(@href,'search?')]/span[1]")
        lng.append(lng_tag.text)
    except NoSuchElementException:
        lng.append('-')

In [40]:
Git = {'Repository title': Repo_title,'Repository description':Repo_desc,'Contributors count':count,'Language used':lng}

In [41]:
GitDF = pd.DataFrame(Git)

In [42]:
GitDF

,Repository title,Repository description,Contributors count,Language used
0,knownsec / KCon,KCon is a famous Hacker Con powered by Knownse...,4,JavaScript
1,questdb / questdb,An open source SQL database designed to proces...,50,Java
2,OpenIMSDK / Open-IM-Server,OpenIM：由前微信技术专家打造的基于 Go 实现的即时通讯（IM）项目，从服务端到客户端...,9,Go
3,apple / swift-markdown,"A Swift package for parsing, building, editing...",8,Swift
4,github / copilot-docs,Documentation for GitHub Copilot,7,Python
5,Roblox / luau,"A fast, small, safe, gradually typed embeddabl...",26,C++
6,PaddlePaddle / PaddleClas,A treasure chest for visual recognition powere...,34,Python
7,maxvfischer / DIY-CNC-machine,How to build your own CNC machine from scratch,-,-
8,ThioJoe / YouTube-Spammer-Purge,Allows you to purge all reply comments left by...,5,Python
9,CyC2018 / CS-Notes,📚 技术面试必备基础知识、Leetcode、计算机操作系统、计算机网络、系统设计,231,Java
10,MangoDB-io / MangoDB,A truly Open Source MongoDB alternative,5,Go
11,artart222 / CodeArt,Use NeoVim as general purpose IDE,6,Lua
12,microsoft / ML-For-Beginners,"12 weeks, 26 lessons, 52 quizzes, classic Mach...",96,Jupyter Notebook
13,kenp-io / not-for-iphone-usb-c,-,-,-
14,ossu / computer-science,🎓 Path to a free self-taught education in Comp...,115,-
15,extremecodetv / ExtremeCodeOS,New gen. Linux,20,C
16,microsoft / TypeScript,TypeScript is a superset of JavaScript that co...,609,TypeScript
17,ruanyf / weekly,科技爱好者周刊，每周五发布,26,-
18,microsoft / Power-Fx,Power Fx low-code programming language,6,C#
19,ethereum-boilerplate / ethereum-boilerplate,The ultimate full-stack Ethereum Dapp Boilerpl...,7,JavaScript
20,Yin-Hongwei / music-website,🎧 Vue + SpringBoot + MyBatis 音乐网站,2,Vue
21,whyour / qinglong,A timed task management panel that supports ty...,21,TypeScript
22,n8n-io / n8n,Free and open fair-code licensed node based Wo...,212,TypeScript
23,open-mmlab / mmdetection3d,OpenMMLab's next-generation platform for gener...,39,Python
24,Azure / azure-cli,Azure Command-Line Interface,709,Python

### Q6. Scrape the details of top 100 songs on billboard.com.
#### Url = https://www.billboard.com/
#### You have to find the following details:
#### A) Song name
#### B) Artist name
#### C) Last week rank
#### D) Peak rank
#### E) Weeks on board

In [43]:
url =  'https://www.billboard.com/'
driver = webdriver.Edge("msedgedriver.exe")
driver.get(url)

In [44]:
top100_btn=driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/nav/ul/li[3]/a") #hot100 button
try:
    top100_btn.click()#click explore button
except ElementNotInteractableException:
    pass

In [45]:
Song = []
Artist = []
Lastweek = []
Peak = []
Weeks = []

In [46]:
for i in range(1,110):
    try:
        Song_tag = driver.find_element_by_xpath(f"/html/body/main/div/div/div[7]/div/ol/li[{i}]/button/span[2]/span[1]")
        Song.append(Song_tag.text)
    except NoSuchElementException:
        Song.append("-")
        
for i in range(1,110):
    try:
        Artist_tag = driver.find_element_by_xpath(f"/html/body/main/div/div/div[7]/div/ol/li[{i}]/button/span[2]/span[2]")
        Artist.append(Artist_tag.text)
    except NoSuchElementException:
        Artist.append("-")
        
for i in range(1,110):
    try:
        Lastweek_tag = driver.find_element_by_xpath(f"/html/body/main/div/div/div[7]/div/ol/li[{i}]/button/span[2]/span[3]/span[1]")
        Lastweek.append(Lastweek_tag.text.replace("LW",""))
    except NoSuchElementException:
        Lastweek.append("-")

for i in range(1,110):
    try:
        Peak_tag = driver.find_element_by_xpath(f"/html/body/main/div/div/div[7]/div/ol/li[{i}]/button/span[2]/span[3]/span[2]")
        Peak.append(Peak_tag.text.replace("Pk",""))
    except NoSuchElementException:
        Peak.append("-")

for i in range(1,110):
    try:
        Weeks_tag = driver.find_element_by_xpath(f"/html/body/main/div/div/div[7]/div/ol/li[{i}]/button/span[2]/span[3]/span[3]")
        Weeks.append(Weeks_tag.text.replace("WoC",""))
    except NoSuchElementException:
        Weeks.append("-")

In [47]:
Top100 = {'Song name': Song,'Artist name':Artist,'Last week rank':Lastweek,'Peak rank':Peak,'Weeks on board':Weeks}

Top100 = pd.DataFrame(Top100)

Top100

,Song name,Artist name,Last week rank,Peak rank,Weeks on board
0,Certified Lover Boy,Drake,,,
1,Dangerous: The Double Album,Morgan Wallen,,,
2,Planet Her,Doja Cat,,,
3,"Sincerely, Kentrell",YoungBoy Never Broke Again,,,
4,Sour,Olivia Rodrigo,,,
...,...,...,...,...,...
104,Divinely Uninspired To A Hellish Extent,Lewis Capaldi,,,
105,The Essential Michael Jackson,Michael Jackson,,,
106,Legend: The Best Of...,Bob Marley And The Wailers,,,
107,Metallica,Metallica,,,
108,La 167,Farruko,,,

### Q7. Scrape the details of Data science recruiters from naukri.com.
#### Url = https://www.naukri.com/
#### find the following details:
#### A) Name
#### B) Designation
#### C) Company
#### D) Skills they hire for
#### E) Location

In [48]:
url =  'https://www.naukri.com/'
driver = webdriver.Edge("msedgedriver.exe")
driver.get(url)

In [49]:
recruit_btn=driver.find_element_by_xpath("/html/body/div[1]/div[1]/div/ul[1]/li[2]/a/div") #recruiters button
try:
    recruit_btn.click()#click recruiters button
except ElementNotInteractableException:
    pass
driver.switch_to.window(driver.window_handles[1])#switch to recruiters tab

In [50]:
jobsearch = driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/div/div[1]/div[1]/div[2]/input')
jobsearch

In [51]:
jobsearch.send_keys("Data science")

In [52]:
srchbtn = driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/button')
srchbtn.click()

In [53]:
Name = []
Designation = []
Company = []
Skills = []

In [54]:
Name_tag = driver.find_elements_by_xpath("//a[@class='ellipsis']/span")
Designation_tag = driver.find_elements_by_xpath("//span[@class='ellipsis clr']")
Company_tag = driver.find_elements_by_xpath("//p[@class='highlightable']/a[2]")
Skills_tag = driver.find_elements_by_xpath("//div[@class='hireSec highlightable']")
Location_tag = driver.find_elements_by_xpath("//p[@class='highlightable']/span/small")

In [55]:
for n in Name_tag:
    try:
        Name.append(n.text)
    except NoSuchElementException:
        Name.append("-")
for d in Designation_tag:
    try:
        Designation.append(d.text)
    except NoSuchElementException:
        Designation.append("-")


for c in Company_tag:
    try:
        Company.append(c.text)
    except NoSuchElementException:
        Company.append("-")


for s in Skills_tag:
    try:
        Skills.append(s.text)
    except NoSuchElementException:
        Skills.append("-")

In [56]:
nameurl = []

In [57]:
name_tag = driver.find_elements_by_xpath("//p[@class='highlightable']/a[1]")

In [58]:
for r in name_tag:
    try:
       nameurl.append(r.get_attribute("href"))
    except NoSuchElementException:
        nameurl.append("-")

In [59]:
Location = []

In [60]:
for i in nameurl:
    driver.get(i)
    time.sleep(5)
    try:   
        Location_tag = driver.find_element_by_xpath("/html/body/div[2]/div[1]/div[1]/div[2]/div[5]/a")
        Location.append(Location_tag.text)
    except NoSuchElementException:
        Location.append('-')

In [61]:
jobs = {'Name': Name,'Designation':Designation,'Company':Company,'Skills they hire for':Skills,'Location':Location}

jobsDF = pd.DataFrame(jobs)

jobsDF

,Name,Designation,Company,Skills they hire for,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Narasimha,Company Recruiter,Step Next Private Limited,"Data Modeling, Data Wrangling, seaborn, eda, p...",Hyderabad / Secunderabad
8,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
9,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
10,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
11,Priyanka Akiri,HR Manager,Infinitive Software Solutions,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
12,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
13,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
14,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
15,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
17,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
18,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
19,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
20,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
21,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
22,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
23,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
24,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
25,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
26,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
27,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
28,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Others
29,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Delhi
30,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
31,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
32,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Bengaluru / Bangalore
33,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",Hyderabad / Secunderabad
34,Ravi Dubey,Recruitment Manager,HyrEzy Talent Solutions LLP,Walmart Interra Skeps Expressstores indifi whi...,Ghaziabad
35,Radha Manivasagam,HR Executive,Techcovery,"Python, Artificial Intelligence, Machine Learn...",Bengaluru / Bangalore
36,Prateek Kumar,Head,Trisect,"Java, Python, Angularjs, Software Testing, Mac...",Noida
37,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",New Delhi
38,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Chennai
39,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Aligarh
40,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Salt Lake City
41,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Pune
42,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Bengaluru / Bangalore
43,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Mumbai
44,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Indore
45,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",Bengaluru / Bangalore
46,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",MYSORE
47,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Hyderabad / Secunderabad
48,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Bengaluru / Bangalore
49,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Mumbai

### Q8. Scrape the details of Highest selling novels.
#### Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/
#### find the following details:
#### A) Book name
#### B) Author name
#### C) Volumes sold
#### D) Publisher
#### E) Genre

In [62]:
url =  ' https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/'
driver = webdriver.Edge("msedgedriver.exe")
driver.get(url)

In [63]:
Book= []
Author = []
Volumes = []
Publisher = []
Genre = []

In [64]:
for i in range(1,101):
    try:
        Book_tag = driver.find_element_by_xpath(f"/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr[{i}]/td[2]")
        Book.append(Book_tag.text)
    except NoSuchElementException:
        Book.append("-")
        
for i in range(1,101):
    try:
        Author_tag = driver.find_element_by_xpath(f"/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr[{i}]/td[3]")
        Author.append(Author_tag.text)
    except NoSuchElementException:
        Author.append("-")
        
for i in range(1,101):
    try:
        Volumes_tag = driver.find_element_by_xpath(f"/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr[{i}]/td[4]")
        Volumes.append(Volumes_tag.text)
    except NoSuchElementException:
        Volumes.append("-")

for i in range(1,101):
    try:
        Publisher_tag = driver.find_element_by_xpath(f"/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr[{i}]/td[5]")
        Publisher.append(Publisher_tag.text)
    except NoSuchElementException:
        Publisher.append("-")

for i in range(1,101):
    try:
        Genre_tag = driver.find_element_by_xpath(f"/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr[{i}]/td[6]")
        Genre.append(Genre_tag.text)
    except NoSuchElementException:
        Genre.append("-")

In [65]:
Top100Books = {'Book name': Book,'Author name':Author,'Volumes sold':Volumes,'Publisher':Publisher,'Genre':Genre}

Top100BooksDF = pd.DataFrame(Top100Books)

Top100BooksDF

,Book name,Author name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

### Q9. Scrape the details most watched tv series of all time from imdb.com.
#### Url = https://www.imdb.com/list/ls095964455/
#### find the following details:
#### A) Name
#### B) Year span
#### C) Genre
#### D) Run time
#### E) Ratings
#### F) Votes

In [66]:
url =  'https://www.imdb.com/list/ls095964455/'
driver = webdriver.Edge("msedgedriver.exe")
driver.get(url)

In [67]:
Name = []
Year = []
Genre = []
Runtime = []
Ratings = []
Votes = []

In [68]:
for i in range(1,101):
    try:
        Name_tag = driver.find_element_by_xpath(f"/html/body/div[4]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div[{i}]/div[2]/h3/a")
        Name.append(Name_tag.text)
    except NoSuchElementException:
        Name.append("-")
        
for i in range(1,101):
    try:
        Year_tag = driver.find_element_by_xpath(f"/html/body/div[4]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div[{i}]/div[2]/h3/span[2]")
        Year.append(Year_tag.text)
    except NoSuchElementException:
        Year.append("-")
        
for i in range(1,101):
    try:
        Genre_tag = driver.find_element_by_xpath(f"/html/body/div[4]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div[{i}]/div[2]/p[1]/span[5]")
        Genre.append(Genre_tag.text)
    except NoSuchElementException:
        Genre.append("-")

for i in range(1,101):
    try:
        Runtime_tag = driver.find_element_by_xpath(f"/html/body/div[4]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div[{i}]/div[2]/p[1]/span[3]")
        Runtime.append(Runtime_tag.text)
    except NoSuchElementException:
        Runtime.append("-")

for i in range(1,101):
    try:
        Ratings_tag = driver.find_element_by_xpath(f"/html/body/div[4]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div[{i}]/div[2]/div[1]/div[1]/span[2]")
        Ratings.append(Ratings_tag.text)
    except NoSuchElementException:
        Ratings.append("-")
for i in range(1,101):
    try:
        Votes_tag = driver.find_element_by_xpath(f"/html/body/div[4]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div[{i}]/div[2]/p[4]/span[2]")
        Votes.append(Votes_tag.text)
    except NoSuchElementException:
        Votes.append("-")

In [69]:
Top100shows = {'Name': Name,'Year span':Year,'Genre':Genre,'Run time':Runtime,'Ratings':Ratings,'Votes':Votes}

Top100showssDF = pd.DataFrame(Top100shows)

Top100showssDF

,Name,Year span,Genre,Run time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,894,286"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"925,654"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"910,147"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"272,359"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"232,747"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"46,255"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"57,095"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"179,223"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"37,532"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"210,567"

### Q10. Details of Datasets from UCI machine learning repositories.
#### Url = https://archive.ics.uci.edu/
#### find the following details:
#### A) Dataset name
#### B) Data type
#### C) Task
#### D) Attribute type
#### E) No of instances
#### F) No of attribute
#### G) Year

In [70]:
url =  'https://archive.ics.uci.edu/'
driver = webdriver.Edge("msedgedriver.exe")
driver.get(url)

In [71]:
dtbtn = driver.find_element_by_xpath('/html/body/table[2]/tbody/tr/td/span/b/a') #view all data sets button
try:
    dtbtn.click() #clicking on view all data sets button
except ElementNotInteractableException:
    pass

In [72]:
Name = []
Datatype = []
Task = []
Attribute = []
instances = []
attribute_no = []
Year = []

In [73]:
for i in range(1,590):
    try:
        Name_tag = driver.find_element_by_xpath(f"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[{i}]/td[1]/table/tbody/tr/td[2]/p/b/a")
        Name.append(Name_tag.text)
    except NoSuchElementException:
        Name.append("-")
        
for i in range(1,590):
    try:
        Datatype_tag = driver.find_element_by_xpath(f"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[{i}]/td[2]/p")
        Datatype.append(Datatype_tag.text)
    except NoSuchElementException:
        Datatype.append("-")
        
for i in range(1,590):
    try:
        Task_tag = driver.find_element_by_xpath(f"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[{i}]/td[3]/p")
        Task.append(Task_tag.text)
    except NoSuchElementException:
        Task.append("-")

for i in range(1,590):
    try:
        Attribute_tag = driver.find_element_by_xpath(f"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[{i}]/td[4]/p")
        Attribute.append(Attribute_tag.text)
    except NoSuchElementException:
        Attribute.append("-")

for i in range(1,590):
    try:
        instances_tag = driver.find_element_by_xpath(f"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[{i}]/td[5]/p")
        instances.append(instances_tag.text)
    except NoSuchElementException:
        instances.append("-")
for i in range(1,590):
    try:
        attribute_no_tag = driver.find_element_by_xpath(f"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[{i}]/td[6]/p")
        attribute_no.append(attribute_no_tag.text)
    except NoSuchElementException:
        Votes.append("-")
for i in range(1,590):
    try:
        Year_tag = driver.find_element_by_xpath(f"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[{i}]/td[7]/p")
        Year.append(Year_tag.text)
    except NoSuchElementException:
        Year.append("-")

In [74]:
len(Task)

589

In [75]:
repositories = {'Dataset name': Name,'Data type':Datatype,'Task':Task,'Attribute type':Attribute,'No of instances':instances,'No of attribute':attribute_no,'Year':Year}

repositoriesDF = pd.DataFrame(repositories)

repositoriesDF.drop(index = 0,inplace = True)

In [76]:
repositoriesDF

,Dataset name,Data type,Task,Attribute type,No of instances,No of attribute,Year
1,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
2,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
3,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
4,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
5,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
584,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
585,Gait Classification,Multivariate,Classification,Real,48,321,2020
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
587,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
588,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021